<template name="add_new_post">
    <div>
        <div class="row">
            <div class="col-md-2 col-md-offset-8 top-view text-center">Screen Options <span class="caret"></span></div>
            <div class="col-md-1 top-view text-center" style="margin-left: 15px">Help <span class="caret"></span></div>
        </div>
        <div class="margin-top-20">
            <div class="row post-margin">
                <span style="font-size: 30px;">Add a New Post</span>
            </div>
        </div>
        <div class="col-md-8  padding-left-zero">
            <input type="text" class="form-control" placeholder="Enter title here" id="postName">
            <div>
                <textarea name="area1" cols="80" rows="20" id="postContent" class="form-control"></textarea>
            </div>
            <div>
                <div  id="savePost" class="btn btn-default">
                    Save
                </div>
                <div  id="publishPost" class="btn btn-default">
                    publish
                </div>
            </div>
        </div>
        <div class="col-md-4 padding-bottom-40">
            <div class="bg-white">
                <div class="board-view  border-bottom">publish <span class="caret pull-right margin-top-10"></span></div>
                <div class="board-view">
                    <span><button type="button" class="btn btn-default">Search Draft</button></span>
                    <span class="pull-right"><button type="button" class="btn btn-default">Preview</button></span>
                </div>
                <div class="board-view">Status: Draft <a href="#">Edit</a></div>
                <div class="board-view">Visibility: public <a href="#">Edit</a></div>
                <div class="board-view">Publish immediately <a href="#">Edit</a></div>
            </div>
            <div class="board-view border-bottom" style="  border: 1px solid #ddd;border-top: 0;">
                Move to Bin  <span style="padding-left: 40%"><button type="button" class="btn btn-primary">Publish</button></span>
            </div>

            <div class="bg-white margin-top-20">
                <div class="board-view border-bottom">categories <span class="caret pull-right margin-top-10"></span></div>
                <div class="board-view">
                    <span>All Categories</span>
                    <span>Most Used</span>
                </div>
            </div>
            <div class="board-view bg-white"><a href="#">+ Add New Category</a></div>

            <div class="bg-white margin-top-20">
                <div class="board-view border-bottom">Tags <span class="caret pull-right margin-top-10"></span></div>
                <div class="board-view">
                    <span><input type="text" class="form-control"></span>
                    <span><button class="btn btn-default">Add</button></span>
                </div>
                <div class="board-view">
                    <span style="font-style: italic">Separate tags with commas</span>
                </div>
                <div class="board-view">
                    <span><a href="#">Choose from the most used tags</a></span>
                </div>
            </div>

            <div class="bg-white margin-top-20">
                <div class="board-view border-bottom">Feature image <span class="caret pull-right margin-top-10"></span></div>
                <div class="board-view">
                    <span><a href="#">Set featured image</a></span>
                </div>
            </div>
        </div>
    </div>
</template>