<template name="addNewPost">
    <div class="main-content-box">
        {{#if selectedPost}}
                <div class="content-box-menu">Edit Post</div>
                {{else}}
                <div class="content-box-menu">Add a new Post</div>
                {{/if}}
            <div class="row" style="margin-left: 2.5%; margin-top: 5%; width: 95%;margin-bottom:30px">
        <div class="col l8  padding-left-zero">
            {{#if selectedPost}}
        <input type="text" class="form-control" id="postName" value="{{selectedPost.title}}">

            <div>
                <textarea name="area1" cols="80" style="border: 1px solid #ccc; height: 380px; overflow: hidden; resize: none;" id="postContent" class="form-control">{{selectedPost.content}}</textarea>
            </div>
            <div>
            <span style="font-size:20px;">Description</span>
            <textarea name="editor" id="postDescription">{{selectedPost.description}}</textarea>
            </div>
            {{else}}
            <input type="text" class="form-control" placeholder="Enter title here" id="postName">

            <div>
                <textarea name="area1" cols="80" style="border: 1px solid #ccc; height: 380px; overflow: hidden; resize: none;" id="postContent" class="form-control"></textarea>
            </div>
             <div>
                <span style="font-size:20px;">Description</span>
                <textarea name="editor" id="postDescription"></textarea>
            </div>
            {{/if}}
        </div>
        <div class="col l4 padding-bottom-40">
            <div class="bg-white">
                <div class="board-view  border-bottom">publish <span class="caret pull-right margin-top-10"></span>
                </div>
                <div class="board-view">
                    <span>
                    {{#if selectedPost}}
                    {{else}}  
                    <button class="btn waves-effect waves-light" type="button" id="savePost">Save Draft</button>
                    {{/if}}            
                    </span>
                    <span class="pull-right">
                    </span>
                </div>
                <div class="board-view">Status: {{#if
                    selectedPost}}{{selectedPost.status}}{{else}}Draft{{/if}}
                </div>
                <div class="board-view">Visibility: public</div>
            </div>
            <div class="board-view border-bottom" style=" border: 1px solid #ddd;border-top: 0;">
              {{#if selectedPost}}
                 {{#if selectedPost.deleted}}
                   <a id="removePost">Delete Post</a>
                    {{else}}
                   <a id="moveBin">Move to Bin</a>
                   <a id="deletePost" class="padding-left-10">Delete</a>
                 {{/if}}
              {{/if}}
              {{#if selectedPost}}
                {{#if selectedPost.deleted}}
                <span style="padding-left: 25%">                                    
                 <button class="btn waves-effect waves-light" type="button" id="restorePost">Publish</button>
                </span>
                    {{else}}
                    {{#if selectedPost.publish}}
                    <span style="padding-left: 6%">                                       
                       <button class="btn waves-effect waves-light" type="button" id="updatePost">Update</button>
                    </span>   
                        {{else}}
                    <span style="padding-left: 6%">   
                        <button class="btn waves-effect waves-light" type="button" id="publishPost">Publish</button>
                    </span>
                    {{/if}}                            
                {{/if}}                            
                {{else}}
                <span style="padding-left: 25%">   
                 <button class="btn waves-effect waves-light" type="button" id="publishPost">Publish</button>
                </span>
              {{/if}} 
            </div>
            <div class="bg-white margin-top-20">
                <div class="board-view border-bottom">pages <span class="caret pull-right margin-top-10"></span></div>
                <div class="board-view">
                    <div class='dropdown-button btn drop-down-list' data-activates='pages'>
                        {{#if selectedPost}}
                            <span class="drop-down-label">{{selectedPost.pageName}}</span>
                        {{else}}
                            <span class="drop-down-label">(no parent)</span>
                        {{/if}}
                        <i class="mdi-navigation-arrow-drop-down right"></i>
                    </div>
                    <ul id='pages' class='dropdown-content'>
                        <li class="drop-down-item" id="none">(no parent)</li>
                        {{#each pageList}}
                            <li class="drop-down-item" id="{{_id}}">{{title}}</li>                 
                        {{/each}}
                    </ul>
                </div>
            </div>

            <div class="bg-white margin-top-20">
                <div class="board-view border-bottom">Tags <span class="caret pull-right margin-top-10"></span></div>
                <div class="board-view">
                    <span>
                    {{#if selectedPost}}
                        <input type="text" id="postTags" class="form-control" value="{{selectedPost.tags}}">
                    {{else}}                    
                        <input type="text" id="postTags" class="form-control">
                    {{/if}}                                                    
                    </span>
                </div>
            </div>

            <div class="bg-white margin-top-20">
                <div class="board-view border-bottom">Feature image <span class="caret pull-right margin-top-10"></span>
                </div>
                <div class="board-view">

                    {{#if selectedPost}}
                        {{#if equals selectedPost.featuredImage "-"}}
                            {{#if getpostUrl}}
                            <a class="cursor-pointer set-img" id="removeImage">Remove featured image
                            <img src="{{getpostUrl}}" id="featureImage" style="width:100px; height:100px;"/>
                            </a> 
                            {{else}}    
                            <a class="cursor-pointer set-img modal-trigger" id="selectImage" data-toggle="modal" data-target="selectImgModal">Set featured image
                            </a>
                            {{/if}}
                        {{else}}
                            <a class="cursor-pointer set-img" id="removeImage">Remove featured image
                            <img src="{{selectedPost.featuredImage}}" id="featureImage"
                                 style="width:100px; height:100px;"/>
                            </a>
                        {{/if}}
                    {{else}}
                        {{#if getpostUrl}}
                            <a class="cursor-pointer set-img" id="removeImage">Remove featured image
                                <img src="{{getpostUrl}}" id="featureImage" style="width:100px; height:100px;"/>
                            </a>
                        {{else}}
                            <a class="cursor-pointer set-img modal-trigger" id="selectImage" data-toggle="modal" data-target="selectImgModal">Set featured image
                            <!-- {{#if getpostUrl}}
                            <img src="{{getpostUrl}}" id="featureImage" style="width:100px; height:100px;"/>
                            {{/if}} -->
                            </a>
                        {{/if}}
                    {{/if}}
                    <div id="selectImgModal" class="modal modal-fixed-footer">
                        
                        <div class="modal-content">
                            <h4 class="modal-title font-bold margin-bottom-20">Select image</h4>
                            <div style="position: absolute; right: 2px; top: 2px" class="modal-close">
                                <img src="/images/close_icon.png" style="width: 15px; cursor: pointer">
                            </div>
                            <div class="row">
                                <div class="col s12">
                                    <ul class="tabs">
                                        <li class="tab col s3"><a href="#tab1" style="color: #004C19;" class="active">Upload Files</a></li>
                                        <li class="tab col s3"><a href="#tab2" style="color: #004C19;">Media Library</a></li>
                                    </ul>
                                </div>
                                <div id="tab1" class="col s12">
                                    <div align="center" style="  margin: 20px auto 0;width:100%">
                                        <p class="text-center font-bold"
                                           style="font-size: 20px;color: #A19B9B;">Drop files anywhere to
                                            upload</p>

                                        <p class="text-center">or</p>

                                        <div style="margin-top: 20px; width: 27%;"><input type="file" id="selectMediaUrl">
                                        </div>
                                        <div class="text-center margin-top-10 font-size-12"><p>Maximum upload
                                            file size: 24 MB.</p></div>
                                    </div>
                                </div>
                                <div id="tab2" class="col s12">
                                    <div class="col-md-8">
                                        <div class="row" style="margin-top: 20px;">
                                            {{#each mediaList}}
                                            {{#if equals showUploadMediaUrl url}}
                                                <img id="mediaImage" class="selected-img selected-border" src="{{url}}"/>
                                            {{else}}
                                                <img id="mediaImage" class="selected-img" src="{{url}}"/>
                                            {{/if}}
                                            {{/each}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer" style="border-top: none;">
                            <button type="button" id="selectpublish" class="btn waves-effect waves-light" data-dismiss="modal" >Done</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    </div>
</template>