<template name="addNewPost">
    <div>
         {{> searchHelp}}
            {{#if errormsg}}
            <div style="background-color: #F00;color: #FFF;text-align: center;margin-left: 174px;padding: 11px 95px;width: 50%;margin-top: -10px;">
            <span  id="showError">{{errormsg}}</span></div>  
            {{/if}}
        <div class="margin-top-20">
            <div class="row post-margin">
            {{#if showSelectedPost}}
                <span style="font-size: 30px;">Edit Post</span>
            {{else}}                   
                <span style="font-size: 30px;">Add a New Post</span>
            {{/if}}            
            </div>
        </div>
        <div class="col-md-8  padding-left-zero">
            {{#if showSelectedPost}}
            <input type="text" class="form-control" id="postName" value="{{showSelectedPost.title}}">
            <div>
                <textarea name="area1" cols="80" rows="20" id="postContent" class="form-control">{{showSelectedPost.content}}</textarea>
            </div>
            {{else}}   
            <input type="text" class="form-control" placeholder="Enter title here" id="postName">
            <div>
                <textarea name="area1" cols="80" rows="20" id="postContent" class="form-control"></textarea>
            </div>
            {{/if}}            
        </div>
        <div class="col-md-4 padding-bottom-40">
            <div class="bg-white">
                <div class="board-view  border-bottom">publish <span class="caret pull-right margin-top-10"></span></div>
                <div class="board-view">
                    <span>
                    {{#if showSelectedPost}}
                    {{else}}   
                        <button type="button" id="savePost" class="btn btn-default">Save Draft</button>
                    {{/if}}            
                    </span>
                    <span class="pull-right">
                        <!-- <button type="button" class="btn btn-default">Preview</button> -->
                    </span>
                </div>
                <div class="board-view">Status: {{#if showSelectedPost}}{{showSelectedPost.status}}{{else}}Draft{{/if}}</div>
                <div class="board-view">Visibility: public </div>
                <!-- <div class="board-view">Publish immediately <a href="#">Edit</a></div> -->
            </div>
            <div class="board-view border-bottom" style="  border: 1px solid #ddd;border-top: 0; padding-bottom: 40px;">
                <div class="col-md-12 padding-left-zero" >
                    <div class="col-md-6 padding-left-zero cursor-pointer">
                    {{#if showSelectedPost}}
                        {{#if showSelectedPost.deleted}}
                        <span id="removePost">                                 
                            Delete Post  
                        </span>
                        {{else}}
                        <span id="moveBin">                                 
                            Move to Bin  
                        </span>
                        <span class="padding-left-10">
                            delete
                        </span>
                        {{/if}} 
                    {{/if}}                            
                    </div>                  
                    <div class="col-md-6 padding-right-zero">
                        <span style="padding-left: 55%">
                        {{#if showSelectedPost}}
                            {{#if showSelectedPost.deleted}}                                    
                            <button type="button" id="restorePost" class="btn btn-primary">Publish</button>
                            {{else}}
                                {{#if showSelectedPost.publish}}                                    
                                    <button type="button" id="updatePost" class="btn btn-primary">Update</button>
                                {{else}}
                                    <button type="button" id="publishPost" class="btn btn-primary">Publish</button>
                                {{/if}}                            
                            {{/if}}                            
                        {{else}}
                            <button type="button" id="publishPost" class="btn btn-primary">Publish</button>
                        {{/if}}                            
                        </span>
                    </div>
                </div>

            </div>
            <div class="bg-white margin-top-20">
                <div class="board-view border-bottom">categories <span class="caret pull-right margin-top-10"></span></div>
                <div class="board-view">
                    <select id="categoryName" placeholder="category">
                    {{#if showSelectedPost}}
                        <option>{{showSelectedPost.categoryName}}</option>                 
                    {{else}}    
                        <option>Category</option>
                    {{/if}}   
                        {{#each categoryList}}
                            <option value="{{name}}">{{name}}</option>                        
                        {{/each}}                              
                    </select>
                </div>
            </div>
            <div class="board-view bg-white"><a href="/admin/posts/categories">+ Add New Category</a></div>

            <div class="bg-white margin-top-20">
                <div class="board-view border-bottom">Tags <span class="caret pull-right margin-top-10"></span></div>
                <div class="board-view">
                    <span>
                    {{#if showSelectedPost}}
                        <input type="text" id="postTags" class="form-control" value="{{showSelectedPost.tags}}">
                    {{else}}                    
                        <input type="text" id="postTags" class="form-control">
                    {{/if}}                                                    
                    </span>
                    <span><button class="btn btn-default" id="addNewTag">Add New Tag</button></span>
                </div>
                <div class="board-view">
                    <span style="font-style: italic">Separate tags with commas</span>
                </div>
<!--                 <div class="board-view">
                    <span><a href="#">Choose from the most used tags</a></span>
                </div> -->
            </div>

            <div class="bg-white margin-top-20">
                <div class="board-view border-bottom">Feature image <span class="caret pull-right margin-top-10"></span></div>
                <div class="board-view">
                    <span><a href="#">Set featured image</a></span>
                </div>
            </div>
        </div>
    </div>
</template>