<template name="categories" id="categories">
    <div>
         {{> searchHelp}}
        <div class="margin-top-20">
            <div class="row">
                <span style="  font-size: 30px;  vertical-align: top;">Categories</span>              
            </div>            
            <div class="row">
                <div style="float: right">
                    <input type="text" class="form-control" id="categorySearch" style="width:60%; display:inline" />
                    <span><button type="button" id="search" class="btn btn-default">Search</button></span>
                </div>
            </div>
        </div>    
        <div class="row">
            <div class="col-md-4">
                <div class="row">
                    <div class="font-bold">Add New Category</div>
                </div>
                <div class="row padding-top-bottom-10">
                    <div class="font-size-12">Name</div>
                    <div><input type="text" class="form-control margin-bottom-zero" id="categoryName" placeholder="Enter category name here"></div>
                    <em class="font-size-12">The name is how it appears on your site.</em>
                </div>
                <div class="row padding-top-bottom-10">
                    <div class="font-size-12">Slug</div>
                    <div><input type="text" class="form-control margin-bottom-zero" id="categorySlug"></div>
                    <em class="font-size-12">The “slug” is the URL-friendly version of the name.</em>
                </div>
                 <div class="row padding-top-bottom-10">
                    <div  class="font-size-12">Parent</div>
                     <div class="padding-left-zero">
                        <span class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="parentCategory" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                None
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li role="presentation">
                                    <a class="menuitem2"
                                        id="config-request-command" href="#">None</a>
                                </li>
                        {{#each categoryList}}
                         <li role="presentation">
                            <a class="menuitem2"
                                id="config-request-command" href="#">{{name}}</a>
                         </li>                        
                        {{/each}}                                                                    
<!--                                 <li role="presentation">
                                    <a class="menuitem2"
                                        id="config-request-command" href="#">Advisers</a>
                                </li> 
                                <li role="presentation">
                                    <a class="menuitem2"
                                        id="config-request-command" href="#">Governance</a>
                                </li>  -->   
                            </ul>
                        </span>                       
                    </div>       
                    <em class="font-size-12">Categories, unlike tags, can have a hierarchy. You might have a Jazz category, and under that have children categories for Bebop and Big Band. Totally optional.</em>
                </div>
                 <div class="row padding-top-bottom-10">
                    <div  class="font-size-12">Description</div>
                    <div><textarea rows="5" cols="10" class="form-control margin-bottom-zero" id="categoryDescription"></textarea></div>
                    <em class="font-size-12">The description is not prominent by default; however, some themes may show it.</em>
                </div>
                <div class="row padding-top-bottom-10 ">
                    <button class="btn btn-primary" id="addCategory">Add New Category</button>
                </div>
            </div>
            <div class="col-md-8">                
                <div class="row">
                    <div class="padding-left-zero">
                        <span class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="categories2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                Bulk Actions
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li><a href="#">Bulk Actions</a></li>
                                <li><a href="#">Delete</a></li>                           
                            </ul>
                        </span>
                        <span><button type="button" class="btn btn-default">Apply</button></span>
                    </div>                    
                </div>
                <div class="row padding-top-bottom-10">
                    <div class="bs-example" data-example-id="striped-table">
                        <div class="row bg-white padding-top-bottom-10 " style="border: 1px solid #ddd">
                            <div class="col-md-2"><span><input type="checkbox"></span>Name</div>
                            <div class="col-md-7">Description</div>
                            <div class="col-md-2">Slug</div>
                            <div class="col-md-1">Parent</div>
                        </div>
                           {{#each categoryList}}
                            <div id="{{_id}}" class="category row  padding-top-bottom-10 cursor-pointer" style="border: 1px solid #ddd">
                                <div class="col-md-2">
                                    <span>
                                        <input type="checkbox">
                                    </span>
                                        {{name}}
                                </div>
                                <div class="col-md-7">{{description}}</div>
                                <div class="col-md-2">{{slug}}</div>
                                <div class="col-md-1">{{parent}}</div>
                            </div>                        
                        {{/each}}  
                    </div>
                </div>
                <div class="row">
                    <span class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="categories3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Bulk Actions
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu5">
                            <li><a href="#">Bulk Actions</a></li>
                            <li><a href="#">Delete</a></li>  
                        </ul>
                    </span>
                    <span><button type="button" class="btn btn-default">Apply</button></span>
                </div>
             </div>   
        </div>
    </div>
</template>

