<template name="featuredImage" id="featuredImage">
    <div class="main-content-box">
        <div class="content-box-menu">Add Featured Image</div>
        <div style="margin-left: 2.5%; margin-top: 5%;width: 95%;margin-bottom:30px">
<!--     <div class="margin-top-20">
        <div class="row post-margin">
            <span style="font-size: 30px;">Add Featured Image</span>
        </div>
    </div> -->
    <div class="margin-top-20">
        <div class="text-center"><input type="file" id="selectFeaturedImage"></div>
    </div>

    <div class="bg-white margin-top-20">
        <div class="board-view border-bottom">Posts <span class="caret pull-right margin-top-10"></span></div>
        <div id="postSelection" class="board-view">
            <span>Page : </span>
            <div class='dropdown-button btn drop-down-list' data-activates='pages'>
                <span class="drop-down-label page">None</span>
                <i class="mdi-navigation-arrow-drop-down right"></i>
            </div>
            <ul id='pages' class='dropdown-content' style="margin-left: 45px;">
                <li class="drop-down-item page" id="none">None</li>
                {{#each pagesList}}
                <li class="divider"></li>                        
                <li class="drop-down-item page" id="{{_id}}">{{title}}</li>
                {{/each}}
            </ul>
            <span>Posts : </span>
            <div class='dropdown-button btn drop-down-list' data-activates='posts' style="width:200px">
                <span class="drop-down-label post">None</span>
                <i class="mdi-navigation-arrow-drop-down right"></i>
            </div>
            <ul id="posts" class="dropdown-content" style="margin-left: 251px;">
                <li class="drop-down-item post">None</li>
                {{#each postList}}
                <li class="divider"></li>                        
                <li class="drop-down-item post" id="{{_id}}">{{title}}</li>
                {{/each}}
            </ul>
        </div>
    </div>

    <div class="margin-top-20">
        <button type="button" id="publishFeaturedImage" class="btn btn-primary">Publish</button>
    </div>
    </div>
</div>
</template>

