<template name="posts" id="post">
    <div style="width: 100%">
        <div class="row">
            <div class="col-md-2 col-md-offset-8 top-view text-center">Screen Options <span class="caret"></span></div>
            <div class="col-md-1 top-view text-center" style="margin-left: 15px">Help <span class="caret"></span></div>
        </div>
        <div class="margin-top-20">
            <div class="row post-margin">
                <span style="  font-size: 30px;  vertical-align: top;">Posts</span> <span><button type="button" id="addNewPost" class="btn btn-default">Add New</button></span>
            </div>
            <div class="row post-margin">
                <div style="float: right">
                    <input type="text" id="queryString" value="{{queryString}}"/>
                    <span><button type="button" id="searchPost" class="btn btn-default">Search Posts</button></span>
                </div>
            <div>
                <span><a id="showAll">All</a> | 
                      <a id="publishFilter">Published</a> |
                      <a id="draftFilter">Draft</a> |
                      <a id="binFilter">Bin</a>
                </span>
            </div>                
            </div>
            <div class="row post-margin">
                <div class="col-md-3 padding-left-zero">
                 <span class="dropdown">
                    <button class="btn btn-default dropdown-toggle padding-right-20" type="button" id="dropdown"
                          data-toggle="dropdown">Bulk Actions                        
                    </button>
                     <span class="caret" style=" margin-left: -20px;"></span>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                         <li role="presentation">
                            <a class="menuitem"
                                id="config-request-command" href="#">Bulk Actions</a>
                         </li>
                         <li role="presentation">
                            <a class="menuitem" href="#">Edit</a>
                         </li>
                         <li role="presentation">
                           <a class="menuitem" href="#">Move to Bin</a>
                         </li>           
                    </ul>
                </span>
                    <span><button type="button" class="btn btn-default">Apply</button></span>
                </div>
                <div class="col-md-6">
                <span class="dropdown">
                    <button class="btn btn-default dropdown-toggle padding-right-20" type="button" id="datedropdown"
                          data-toggle="dropdown">All dates                       
                    </button>
                     <span class="caret" style=" margin-left: -20px;"></span>
                     <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                         <li role="presentation">
                            <a class="menuitem1"
                                id="config-request-command" href="#">All dates  </a>
                         </li>                                  
                    </ul>
                </span>
                <span class="dropdown">
                    <button class="btn btn-default dropdown-toggle padding-right-20" type="button" id="categoriesdropdown"
                          data-toggle="dropdown">All categories                       
                    </button>
                     <span class="caret" style=" margin-left: -20px;"></span>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                        {{#each categoryList}}
                         <li role="presentation">
                            <a class="menuitem2"
                                id="config-request-command" href="#">{{name}}</a>
                         </li>                        
                        {{/each}}                          
<!--                          <li role="presentation">
                            <a class="menuitem2"
                                id="config-request-command" href="#"> All categories</a>
                         </li>
                         <li role="presentation">
                            <a class="menuitem2" href="#">Governance</a>
                         </li>
                         <li role="presentation">
                           <a class="menuitem2" href="#">Advisors</a>
                         </li>    -->        
                    </ul>                   
                </span>
                    <span><button type="button" id="filterByCategory" class="btn btn-default">Filter</button></span>
                </div>
            </div>
            <div class="row post-margin">
                <div class="bs-example" data-example-id="striped-table">
                    <div class="row post-margin padding-top-bottom-10">
                        <div class="bs-example" data-example-id="striped-table">
                            <div class="row bg-white padding-top-bottom-10 " style="border: 1px solid #ddd">
                                <div class="col-md-5"><span><input type="checkbox"></span>Title</div>
                                <div class="col-md-2">Author</div>
                                <div class="col-md-2">Categories</div>
                                <div class="col-md-1">Tags</div>
                                <div class="col-md-1">Status</div>
                                <div class="col-md-1">Date</div>
                            </div>
                           {{#each postList}}
                            <div id="{{_id}}" class="post row  padding-top-bottom-10 cursor-pointer" style="border: 1px solid #ddd">
                                <div class="col-md-5">
                                    <span>
                                        <input type="checkbox">
                                    </span>
                                    {{#if deleted}}                                    
                                        <strike>{{title}}</strike>
                                    {{else}}
                                        {{title}}
                                    {{/if}}                            
                                </div>
                                <div class="col-md-2">{{createdBy}}</div>
                                <div class="col-md-2">{{categoryName}}</div>
                                <div class="col-md-1">{{tags}}</div>
                                <div class="col-md-1">{{status}}</div>
                                <div class="col-md-1">{{createdAt}}</div>
                            </div>                        
                        {{/each}}                            
                        </div>
                    </div>
                </div>
            </div>            
            <div class="row post-margin">
                <span class="dropdown">
                    <button class="btn btn-default dropdown-toggle padding-right-20" type="button" id="dropdownmenu"
                          data-toggle="dropdown">Bulk Actions                        
                    </button>
                     <span class="caret" style=" margin-left: -20px;"></span>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                         <li role="presentation">
                            <a class="menuitem3"
                                id="config-request-command" href="#">Bulk Actions</a>
                         </li>
                         <li role="presentation">
                            <a class="menuitem3" href="#">Edit</a>
                         </li>
                         <li role="presentation">
                           <a class="menuitem3" href="#">Move to Bin</a>
                         </li>           
                    </ul>
                </span>
            </div>
        </div>
    </div>
</template>