<template name="adminTop">
    <div class="row">
        <div class="col-md-12 pos-padding">
            <!-- <span class="white padding-left-10"><i class="fa fa-home icons"></i>Acito</span> -->
            <span class="white padding-left-10"><i class="fa fa-home icons"></i>ACITO</span>            
            <!-- <span class="pull-right white">Welcome {{currentUser.username}}</span> -->
            <div class="logout-icon"></div>
            <span class="pull-right white logout" id="logout">Logout</span>
        </div>
        <div class="row">
            {{#if errormsg}}
                <div class="col-md-12 err-padding">{{errormsg}}</div>
            {{/if}}
            {{#if BHSSuccessMessage}}
                <div class="col-md-12 post-success">{{BHSSuccessMessage}}</div>
            {{/if}}                
        </div>   
<!--         <div class="loading-icon" style="position:absolute; margin-top:20%; z-index:1000">
        </div> -->
    </div>
     
</template>