<template name="seo">
    <div class="bg-white margin-top-20">
        <div class="board-view border-bottom">SEO Settings <span class="caret pull-right margin-top-10"></span></div>
        <div class="board-view">
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default">Left</button>
                <button type="button" class="btn btn-default">Middle</button>
                <button type="button" class="btn btn-default">Right</button>
                <button type="button" class="btn btn-default">Right</button>
            </div>
       </div>
    </div>
</template>