<template name="about">
	<div style="margin-left: 15px;">
		<div style="display:table;width:100%; table-layout:fixed; margin-top:20px">
        <div style="display:table-cell; width:40px;" class="back-arrow">
            <img src="/images/arrow-left.png" width="20px" style="margin-top:6px;">
        </div>
        <h5 style="font-weight:bold; display:table-cell; width:auto; color:green">Grannytherapy Team</h5>
    	</div>
		<div style="margin-top:25px;">
		<img src="/images/leo.png" heigh="100" width="100">
		<span style="margin-left: 10px; margin-top: 48px; position: absolute; color:darkred">Leo Matthew<br>
			  Role: Web Administrator</span>	
		<p style="margin-top:15px; text-align: justify; width: 97%; color:#6f3d01">Leo, brainchild of granny therapy.com brings his strong faith in the intelligence of rural India and the potential to move jobs to rural India.His belief in siddha medicine leads to the foundation of grannytherapy. Leo has a master’s degree in computer science from Loyola College.For the development and well-being of our society he brought forth the concept of grannytherapy. If you want to contact please feel free to mail him at leosekharan@yahoo.com.</p>
		<div class="divider" style="width:97%"></div>
		</div>

		<div style="margin-top:10px;">
		<img src="/images/vendhan.png" heigh="100" width="100" style="margin-top:20px;">
		<span style="margin-left: 10px; margin-top: 86px; position: absolute; color:darkred">Antony Vendhan<br>
		Role: Web Architect</span>	
		<p style="margin-top:15px; text-align: justify; width: 97%; color:#6f3d01">Mr. Anthony Vendhan is an experienced IT professional having in-depth experience with entrepreneurial background and proven expertise in strategic business consulting, and providing total IT solution and support. He provided total support for implementation of IT projects – right from conceptualization of the application areas to implementation in the manufacturing and trading sectors.Antony is the very motivator behind all the business related ideas behind grannytherapy. If you want to contact please feel free to mail him at jai_vendhan@yahoo.com.</p>
		<div class="divider" style="width:97%"></div>
		</div>

		<div style="margin-top:10px;">
		<img src="/images/jp.jpg" heigh="100" width="100" style="margin-top:20px;">
		<span style="margin-left: 10px; margin-top: 86px; position: absolute; color:darkred">JP Vinjamoori<br>
		Role: Web Designer</span>	
		<p style="margin-top:15px; text-align: justify; width: 97%; color:#6f3d01">JP Vinjamoori or JP as he likes to be called is a mentor to grannytherpy. He also has strong belief in our traditional values. He is the one who motivated us to provide the content in digitized way so that it reaches to everyone in the world.The content which we see in grannytherapy is his version of explaining the community about long forgotten beliefs. If you want to contact please feel free to mail him at jp@neemtecsolutions.com</p>
		<div class="divider" style="width:97%"></div>
		</div>

		<div style="margin-top:10px;">
		<img src="/images/shankar.png" heigh="100" width="100" style="margin-top:20px;">
		<span style="margin-left: 10px; margin-top: 31px; position: absolute; color:darkred">Dr. Sankara Narayanan.K[B.S.M.S., D.N.H.E., D.Yoga] <br>Role: Siddha Medical Advisor</span>	
		<p style="margin-top:15px; text-align: justify; width: 97%; color:#6f3d01">Dr. Sankara Narayanan.K[B.S.M.S., D.N.H.E., D.Yoga] is a person born with an interest in plants and nature. Due to this keen interest with nature and their natural resources he opted to study for BSMS [Bachelor of Siddha Medicine & Surgery], D.N.H.E [Diploma in Nutrition and Health Education], Dip. Yoga [Diploma in Yoga]. He has almost 18 years of experience in the field of Siddha Medical Research. His areas of research mainly include “Impotence of Men and Women”. He wanted himself to contribute something to Siddha Medicine and he decided to utilize his leisure time. So when we decided to ask him to provide some advice he readily agreed to provide advice in his leisure time as it did not conflict his work ethics. He became our Chief Medical Advisor [CMA] and we are proud of having such a great enthusiast amongst us. If you want to contact please feel free to mail him at drshankar@grannytherapy.com.</p>
		</div>
	</div>
</template>