<template name="allQuestions">
	<div style="">
		      <div style="display:table;width:100%; table-layout:fixed; margin-top:20px">
        <div style="display:table-cell; width:40px; vertical-align:middle; text-align:center" class="back-arrow">
            <img src="/images/arrow-left.png" width="20px" style="margin-top:6px;">
        </div>
        <div style="display:table-cell; width:auto; vertical-align:middle;font-size:18px; font-weight:bold;">
             All Questions 
        </div>
      </div>
      <div class="divider" style="margin:13px 0;"></div>
	    {{#each questionList}}
	        <div class="row">
	            <div class="home-answer-inner-field-content select-question-row">
	                {{question}}
	            </div>
	            <div class="col-md-12 border-top-allquestion">
	            </div>
	        </div>
	    {{/each}}
	  </div>
</template>