<template name="dr">
	<div class="hide-on-med-only hide-on-small-only" style="margin-left: 18.5%; margin-top: 125px; 
				margin-bottom:50px;">
        <div style="display:table;width:100%; table-layout:fixed; margin-top:20px">
        <div style="display:table-cell; width:40px; vertical-align: middle; text-align:center;" class="back-arrow">
            <img src="/images/arrow-left.png" width="20px" style="margin-top:6px;">
        </div>
        <span style="display:table-cell; width:auto; font-size: 15px; font-weight: bold; color:green; vertical-align: middle">Dr. K. Sankar Narayanan B.S.M.S, D.P.N.H.E, D.Yoga</span>
    	</div>
		<div class="row">
			<div class="col l6">
				<img src="/images/dr.png">
			</div>
			<div class="col l6" style="margin-top: 40px; text-align: justify; width: 48%; color:#8B533D;">
				<p>Dr. K. Sankar Narayanan B.S.M.S, D.P.N.H.E, D.Yoga is a person born with an interest in plants and nature. Due to this keen interest with nature and their natural resources he opted to study for BSMS [Bachelor of Siddha Medicine & Surgery], D.P.N.H.E [Diploma in Nutrition and Health Education], D.Yoga [Diploma in Yoga]. He has almost 18 years of experience in the field of Siddha Medical Research.</p>
				<p>His areas of research mainly include “Impotence of Men and Women”. He wanted himself to contribute something to Siddha Medicine and he decided to utilize his leisure time.</p>
				<p> So, when we decided to ask him to provide some advice he readily accepted to provide advice in his leisure time as it did not conflict with his work ethics. He became our Chief Medical Advisor [CMA] and we are proud of having such a great enthusiast amongst us.</p>
			</div>
		</div>
	</div>

	<div class="hide-on-large-only" style="margin-top: 76px; margin-left:14px;
				margin-bottom:50px;">
		<div style="display:table;width:100%; table-layout:fixed; margin-top:20px">
        <div style="display:table-cell; width:40px; vertical-align:middle;" class="back-arrow">
            <img src="/images/arrow-left.png" width="20px" style="margin-top:6px;">
        </div>
        <span style="display:table-cell; width:auto; font-size: 15px; font-weight: bold; color:green; vertical-align:middle;">Dr. K. Sankar Narayanan<br>B.S.M.S, D.P.N.H.E, D.Yoga</span>
    	</div>
		
		<div class="row">
			<div class="col s12 m12" style="margin-left:-15px">
				<img src="/images/dr.png" width="250" height="170">
			</div>
			<div class="col s12 m12" style="margin-top: 5px; text-align: justify; color:#8B533D; margin-left:-11px">
				<p>Dr. K. Sankar Narayanan B.S.M.S, D.P.N.H.E, D.Yoga is a person born with an interest in plants and nature. Due to this keen interest with nature and their natural resources he opted to study for BSMS [Bachelor of Siddha Medicine & Surgery], D.P.N.H.E [Diploma in Nutrition and Health Education], D.Yoga [Diploma in Yoga]. He has almost 18 years of experience in the field of Siddha Medical Research.</p>
				<p>His areas of research mainly include “Impotence of Men and Women”. He wanted himself to contribute something to Siddha Medicine and he decided to utilize his leisure time.</p>
				<p> So, when we decided to ask him to provide some advice he readily accepted to provide advice in his leisure time as it did not conflict with his work ethics. He became our Chief Medical Advisor [CMA] and we are proud of having such a great enthusiast amongst us.</p>
			</div>
		</div>
	</div>
</template>