<template name="home"> 
     <div id="Pages" class="row bg-color" >     
         <div class="container padding-left-right-zero theme-width">
               <div class="row equal image image-center theme-left-20">              
              {{#each postsList}}
               <div class="col-md-3 col-sm-6 col-xs-12 equal-child margin-bottom-15 postLists" id="postLists" style=" padding-right: 5px; padding-left: 5px;">     
                {{#if equals featuredImage '-'}}
                {{else}}             
                    <img src="{{featuredImage}}" class="feature-image"/>
                {{/if}}                                 
                  <div class="post-thumb post-width">
                      <span id="postTitle" class="post-header-theme">{{title}}</span>
                      <p class="break-word text-ellipsis">
                         {{content}}
                      </p>
                      <span class="right-arrow"></span> 
                   </div>                   
               </div>
              {{/each}}
              </div>  
        </div>
    </div>
 </template>