<template name="home">
    <div style="position:absolute; top:56px; right:7px; width:19%;">

    
      <div style="background: #81915B none repeat scroll 0 0;  box-shadow: 0 0 10px rgba(0,0,0,0.6); -moz-box-shadow: 0 0 10px rgba(0,0,0,0.6); -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6); -o-box-shadow: 0 0 10px; height:197px; overflow:hidden">
      <div class="row">
        <div class="col-md-12" style="text-align:center; font-size: 18px; padding: 10px;">
          Ask your Community
        </div>
      </div>
      <div style="background:#FFFFFF; width:90%; margin-left:14px; border-radius:20px; height:135px; overflow:hidden">
      <div class="row">
        <div class="col-md-12" style="margin-top:4px">
          <textarea id="questionArea" style="width:200px; height:65px; resize:none; padding:5px; margin-top:10px;" placeholder="Post Your Question"></textarea>
          <div class="col-md-7 font-size-16 margin-top-15-min color-red" id="questionEmptyInfo">
            <span>question required</span>
          </div>            
        </div>
        <div class="col-md-12" style="padding:7px; text-align:center;">
          <button type="button" id="askQuestion" class="btn btn-primary button-home">Ask</button>
        </div>
      </div>
      </div>
    </div>

        <div style="background: #81915B none repeat scroll 0 0;  box-shadow: 0 0 10px rgba(0,0,0,0.6); -moz-box-shadow: 0 0 10px rgba(0,0,0,0.6); -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6); -o-box-shadow: 0 0 10px; height:185px; overflow:hidden; margin-top:8px;">
      <div class="row">
        <div class="col-md-12" style="text-align:center; font-size: 18px; padding: 10px;">
          Search
        </div>
      </div>
      <div style="background:#FFFFFF; width:90%; margin-left:14px; border-radius:20px; height:123px; overflow:hidden">
      <div class="row">
        <div class="col-md-12" style="margin-top:10px">
          <span>Search for :</span>
        </div>
        <div class="col-md-12" style="margin-top:4px">
          <textarea id="questionSearch" style="width:200px; height:30px; resize:none;"></textarea>
        </div>
        <div class="col-md-12" style="padding:7px; text-align:center;">
          <button type="button" id="Search" class="btn btn-primary button-home">Search</button>
        </div>
      </div>
      </div>
    </div>

    <div style="background: #81915B none repeat scroll 0 0; box-shadow: 0 0 10px rgba(0,0,0,0.6); -moz-box-shadow: 0 0 10px rgba(0,0,0,0.6); -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6); -o-box-shadow: 0 0 10px; height:428px; overflow:hidden; margin-top:8px;">
      <div class="row">
        <div class="col-md-12" style="text-align:center; font-size: 18px; padding: 10px;">
          Answers
        </div>
      </div>
      <div style="background:#FFFFFF; width:90%; margin-left:14px; border-radius:20px; height:362px; overflow:hidden">
      {{#each questionList}}
      
      <div class="row">
        <div class="col-md-12" style="padding:10px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; ">
          {{question}}
        </div>
        <div class="col-md-12" style="border-top: 1px solid #D1D1D1; margin-left: 10px; width: 90%; padding-bottom:5px;border-top-width:1px;">
        </div>
      </div>
      {{/each}}
      </div>
    </div>

    </div>



    <div style="width:61%; background: #81915B; box-shadow: 0 0 10px rgba(0,0,0,0.6); -moz-box-shadow: 0 0 10px rgba(0,0,0,0.6); -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6); -o-box-shadow: 0 0 10px; padding:10px; position:absolute; top:574px; left:254px">
     <!-- <div id="Pages" class="row" style="background: #81915B;">      -->
         <!-- <div class="padding-left-right-zero"> -->
        {{> yield}}

           <div class="post-loading-icon"></div>
            <!-- <div class="load-content-design">
                <button class='give-more-content'>Click To Load More Content</button>
            </div> -->
            <div class="posts-Over-text">Posts Over</div>
        <!-- </div> -->
    <!-- </div> -->
</div>

<!--     <div id="xLoader" class="padding-100 bg-dynamic-color">
        <div class="google-spin-wrapper">
            <div class="google-spin"></div>
        </div>
    </div> -->

<!-- <div id="media" class="padding-bottom-10 padding-top-50 bg-dynamic-color">
<div class="owl-carousel">   
   {{#each mediaList}}
      <div  class="item margin-left-right-5 border">
        <img src="{{url}}" class="height-250">
      </div>
   {{/each}}   
</div>
</div> -->

<!-- <div id="showPost" class="show-post">     
      <div class="col-md-10 col-xs-10">
          <textarea rows="5" cols="5" class="form-control" id="questionArea" placeholder="Post Your Question"></textarea>
        <div class="col-md-7 font-size-16 margin-top-15-min color-red" id="questionEmptyInfo">
          <span>question required</span>
        </div>          
      </div>
      <div class="col-md-2 col-xs-2 margin-top-45"><a href="#" id="askQuestion" class="btn btn-default">Ask</a></div>
      <div class="Ask cursor-pointer"><img src="images/close-button.png" class="close-button"></div>
</div>
<div id="post" class="Ask cursor-pointer"><img src="images/post.png" class="post-icon"></div> -->

<div id="questionDetail">
  {{> questionDetail}}
</div>

<div id="loginDetail">
  {{> userLogin}}
</div>
 </template>