  <template name="home">

<!--     <div class="home-left-field">
        <div class="home-categories-field">
            <div class="row">
                <div class="col-md-12 home-right-fields-header black">
                    Categories
                </div>
            </div>
            <div class="home-categories-inner-field">
                {{#if parentPageList}}
                {{#each parentPageList}}
                    <div class="row parent-page" id="page{{_id}}" style="font-size:16px; padding:8px 15px;">
                        {{title}}
                    </div>
                    <div id="subpage{{_id}}" style="margin-left:10px; font-size:15px;"></div>
                {{/each}}
                {{else}}
                    <div>No categories</div>
                {{/if}}
            </div>
        </div>
    </div> -->

    <!-- <div class="home-right-fields">
      <div class="home-ask-field">
        <div class="row">
          <div class="col-md-12 home-right-fields-header black">
            Ask your Community
          </div>
        </div>
        <div class="home-ask-inner-field">
          <div class="row">
            <div class="col-md-12 margin-top-4" style="text-align:center">
              <textarea id="questionArea" style="width:180px; height:50px; resize:none; padding:5px; margin-top:10px;" placeholder="Post Your Question"></textarea>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8 font-size-12 color-red" id="questionEmptyInfo">
                <span style="margin-left:12px">question required</span>
            </div>
            <div class="col-md-4 pull-right">
              <button type="button" id="askQuestion" class="btn btn-primary button-home">Ask</button>
            </div>
          </div>
        </div>
      </div>

      <div class="home-search-field">
        <div class="row">
          <div class="col-md-12 home-right-fields-header black">
            Search
          </div>
        </div>

        <div class="home-search-inner-field">
          <div class="row">
              <div class="col-md-12 margin-top-4">
                  <input type="text" id="searchQuery" class="form-control" style="width:180px; height:30px; margin-top:12px; margin-left:10px">
              </div>
          </div>
          <div class="row">
              <div class="col-md-10 font-size-12 color-red" id="searchEmptyInfo">
                    <span style="margin-left:12px">type any string to search</span>
              </div>
              <div class="col-md-2 pull-right">
                    <button type="button" id="search" class="btn btn-primary button-home" style="margin-top: 0px;">Search</button>
              </div>
          </div>
        </div>
      </div>

      <div class="home-answer-field">
        <div class="row">
          <div class="col-md-12 home-right-fields-header black">
            Answers
          </div>
        </div>
        <div class="home-answer-inner-field">
          {{#each questionList}}
          <div class="row">
            <div class="col-md-12 home-answer-inner-field-content select-question-row">
              {{question}} 
            </div>
            <div class="col-md-12 home-answer-inner-field-detail">
              {{timeanalysis createdAt}} by <b style="color:black">{{questionName createdBy}}</b>, {{views}} Views {{answercount _id}}
            </div>
                <div class="col-md-12 border-top">
                </div>
          </div>
          {{/each}}
        </div>
        <div class="all-questions"><a class="all-questions-content">View all answers</a></div>
      </div>
    </div> -->
    <!-- <div style="border: 1px solid red; height:100px; width:100px;"></div> -->
    <div class="home-post-field">
      {{> yield}}
    </div>

  <!--<div id="xLoader" class="padding-100 bg-dynamic-color">
          <div class="google-spin-wrapper">
              <div class="google-spin"></div>
          </div>
        </div> -->
  <!-- <div id="media" class="padding-bottom-10 padding-top-50 bg-dynamic-color">
  <div class="owl-carousel">   
     {{#each mediaList}}
        <div  class="item margin-left-right-5 border">
          <img src="{{url}}" class="height-250">
        </div>
     {{/each}}   
  </div>
</div> -->

  <!-- <div id="showPost" class="show-post">     
        <div class="col-md-10 col-xs-10">
            <textarea rows="5" cols="5" class="form-control" id="questionArea" placeholder="Post Your Question"></textarea>
          <div class="col-md-7 font-size-16 margin-top-15-min color-red" id="questionEmptyInfo">
            <span>question required</span>
          </div>          
        </div>
        <div class="col-md-2 col-xs-2 margin-top-45"><a href="#" id="askQuestion" class="btn btn-default">Ask</a></div>
        <div class="Ask cursor-pointer"><img src="images/close-button.png" class="close-button"></div>
  </div>
  <div id="post" class="Ask cursor-pointer"><img src="images/post.png" class="post-icon"></div> -->

  <div id="questionDetail">
    {{> questionDetail}}
  </div>

  <!-- <div id="loginDetail">
    {{> userLogin}}
  </div> -->

</template>
