
<template name="postDetail">
  <div class="home-post-detail-field">
    <div class="row" style="border-bottom: 1px solid #ccc; padding: 15px;">
      <div class="col s1 m1 l1 back-arrow">
          <img src="images/arrow-left.png">
      </div>
      <div class="col s11 m11 l11" style="font-size:27px">
          {{post.title}}
      </div>
    </div>
    {{#if equals featuredImage '-'}}
      <div class="row">
      {{#each images}} 
        <div class="col s12 m4 l4">
            <img src="{{url}}" style="width:100%;height:200px">
        </div>
      {{/each}}
      </div>
     {{/if}}
    <span class="right" style="color:#7A7A7A">published on {{formatDate post.createdAt}} | by {{post.publisherName}}</span>
    <div class="row">
      <div class="col s12 m12 l12">
          <p style="line-height: 26px; white-space: pre-line;">  
               {{post.content}}                  
          </p>
           <div class="rateit" data-rateit-value="{{ratings.rating}}" data-rateit-resetable="false" data-rateit-ispreset="true"></div><br>
           <span>Rating: {{#if ratings.rating}}{{ratings.rating}}{{else}}0{{/if}}/ <strong>5</strong>
           {{#if ratings.count}}({{ratings.count}} votes cast){{else}}(0 votes cast){{/if}}</span><br><br>
           <a href="https://twitter.com/share" class="twitter-share-button" data-via="sharethis" data-count="horizontal"></a>
          </div>
    </div>
  </div>
</template>
