<template name="postList">
    <div class="row image image-center post-view">
        {{#if equals searchResultCount 0}}  
            No results found
        {{/if}}
        {{#each postsList}}
            <div class="col-md-4 margin-bottom-15 postLists" id="postLists" style=" padding-right: 5px; padding-left: 5px;">
                {{#if equals featuredImage '-'}}
                {{else}}             
                    <img src="{{featuredImage}}" class="feature-image"/>
                {{/if}}                                
                <div class="post-thumb post-width">
                    <span id="postTitle" class="post-header-theme">{{title}}</span>
                        <p class="break-word text-ellipsis">
                            {{content}}
                        </p>
                    <span class="right-arrow"></span> 
                </div>                   
            </div>
        {{/each}}
    </div> 
    <div class="post-loading-icon"></div>
</template>              