<template name="media" id="media">
    <div class="main-content-box z-depth-2">
        <div style="margin-left: 2.5%; margin-top: 3%;width: 95%;margin-bottom:30px">
        <div>

            <div class="row post-margin">
                <div class="col l4">
                    <span class="main-header">Media Library</span>
                    <span><button type="button" id="addNew" class="admin-btn">Add New</button></span>
                </div>
            
            <div class="col l8 post-margin">
                <div style="float: right">
                    <input type="search" class="padding-top-10" id="queryString" value="{{queryString}}" style="width:60%;"/>
                    <span>
                        <!-- <button type="button" id="searchMedia" class="admin-btn" style="margin-top:-5px">Search</button> -->
                        <i class="small material-icons" id="searchMedia">search</i>
                    </span>
                </div>
            </div>
            </div>

            <div class="row post-margin" id="list">
                <div class="col l2 padding-left-zero">
                    <div class='dropdown-button btn' data-activates='bulkActions' style="width:150px; padding-left: 0px; padding-right: 5px;">
                        <span id="bulkOptionDropDown" style="padding-left: 4px;">Bulk Actions</span>
                        <i class="mdi-navigation-arrow-drop-down right"></i>
                    </div>
                    
                  <!-- Dropdown Structure -->
                    <ul id='bulkActions' class='dropdown-content'>
                        <li class="action-item">Bulk Actions</li>
                        <li class="divider"></li>                        
                        <li class="action-item">Delete</li>
                    </ul>               
                </div>
                <div class="col l2" id="applybtn">
                    <span>
                      <button id="apply" type="button" class="admin-btn">Apply</button>
                    </span>
                </div>
                <div class="col l2">
                <span class="dropdown">
                    <select id="filterdate" class="selctionButton browser-default" style="height:33px;">
                        <option value="All dates" selected="selected">All dates</option>
                        <option value="/5/2015">May 2015</option>
                        <option value="/6/2015">June 2015</option>
                        <option value="/7/2015">July 2015</option>
                    </select>
                </span>
                </div>
<!--                 <div class="col l1">
                    <span><button type="button" class="admin-btn" id="filter">Filter</button></span>
                </div> -->
            </div>

        </div>

            <div class="cursor-pointer row">
                <div class="col l12">
                <span class="right" style="margin-bottom: -19px; margin-right:-9px">
                  <a id="allMedia" style="color:red">All Media</a> 
                </span>
                </div>
            </div>

        <div class="row padding-top-bottom-10">
            <div class="bs-example" data-example-id="striped-table">
                <div class="row bg-white padding-top-bottom-10 " style="border: 1px solid #ddd">
                    <div class="col l2">
                        <!-- <span><input type="checkbox"></span> -->
                    </div>
                    <div class="col l5">file</div>
                    <div class="col l1">Author</div>
                    <div class="col l2">Uploaded to</div>
                    <div class="col l1">comments</div>
                    <div class="col l1">Date</div>
                </div>
              {{#if equals mediaListCount 0}}
                <!-- <div class="empty-results">No Results</div> -->
                <div class="row cursor-pointer">
                    <div class="CodingRules-data-row">
                        <div class="col l12 center empty-results">
                            <span>No Results</span>
                        </div>
                    </div>
                </div>
               {{else}} 
                {{#each mediaList}}
                {{#if currentUser}}
                <div class="row padding-top-bottom-10 cursor-pointer" style="border: 1px solid #ddd; margin-top:-21px">
                    <div class="col l2">
                        <span><input id="checkbox" type="checkbox"></span><span class="padding-left-20"><img
                            src="{{url}}" style="width:70px;height:80px" class="img-rounded"></span>
                    </div>
                    <div class="col l5" style="line-height: 200%;">
                        <div>{{name}}</div>
                        <div>{{fullName}}</div>
                        <div><a href="/admin/media/edit" id="edit">Edit</a> | <a href="#" id="delete">Delete
                            Permanently</a></div>
                    </div>
                    <div class="col l1">
                        <div>{{currentUser.username}}</div>
                    </div>
                    <div class="col l2">
                        <div>@mdo</div>
                        <!--    <div data-toggle="modal" data-target="#myModal">attach</div>
                              <div class="modal fade" id="myModal" role="dialog">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Find Posts or Pages</h4>
                                  </div>
                                  <div class="modal-body">
                                        <input type="text" class="form">
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Select</button>
                                  </div>
                                </div>

                              </div>
                            </div> -->
                    </div>
                    <div class="col l1">
                        <div>comments</div>
                    </div>
                    <div class="col l1">
                        <div>{{createdAt}}</div>
                    </div>
                </div>
                {{/if}}
                {{/each}}
              {{/if}}
            </div>

        </div>
    </div>

        <!--         <div class="row post-margin">
                    <span class="dropdown margin-right">
                        <button class="btn btn-default dropdown-toggle padding-right-20" type="button" id="bulkactiondropdown" data-toggle="dropdown">
                            Bulk Actions
                        </button>
                        <span class="caret margin-left-minus-20"></span>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu5">
                            <li><a href="#">Bulk Actions</a></li>
                            <li><a href="#" id="deleteall">Delete Permanently</a></li>
                        </ul>
                    </span>
                    <span class="margin-left-10">
                      <button id="apply" type="button" class="btn btn-default">Apply</button>
                    </span>
                </div>
                    <span><button id="apply" type="button" class="btn btn-default">Apply</button></span>
                </div> -->
    </div>
</template>