<template name="adminLayout">
    <div id="main">
        <div class="row">
            <div id="header">
                <header>
                    {{> adminTop}}
                    <div class="col-md-2 padding-left-zero">
                        {{> adminHeader}}
                    </div>
                </header>
            </div>
            <div id="main_view" class="col-md-10 padding-left-zero margin-top-40">
                {{> yield}}
            </div>
            <!--<footer>-->
            <!--{{> footer}}-->
            <!--</footer>-->
        </div>
    </div>
</template>
