
.row{
  margin:0
}

.admin-btn {
    background: #33AD5C none repeat scroll 0 0;
    border: medium none;
    border-radius: 4px;
    color: #ffffff;
    font-weight: bold;
    padding: 7px 24px;
}

.btn-primary {
    color: #ffffff;
    background-color:#1B5B69;
    border-color: #1B5B69;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .open .dropdown-toogle.btn-primary{
    color: #ffffff;
    background-color: #447F8C;
    border-color: #447F8C;
} 

.margin-left-minus-30{
      margin-left: -30px;
}

.main-header{
   font-size: 30px !important; 
   vertical-align: top;
}

.margin-top-20{
  margin-top:20px;
}

.margin-left-10{
   margin-left:10px;
}

.margin-left-minus-20{
   margin-left: -20px !important;
}

.margin-left-minus-5{
  margin-left: -5%
}

.margin-left-minus-10{
  margin-left: -10%
}

.font-size-15{
  font-size: 15px !important;
}

.side_bar{
  height: 100%;
  position: fixed;
  width: 14%;
  margin-top: 0px;
}

.padding-right-20{
  padding-right:20px;
}

.padding-bottom-10{
     padding-bottom: 10px;
}
.font-size-12{
      font-size: 12px !important;
}

.padding-10{
  padding : 10px;
}

.side_bar_menu{
  /*background-image: url("/images/bg1.png");*/
  background-color: #DEE8C5;
  border-color: #080808;
  height:100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
}
.side_bar_menu  li{
    width:100%;
  }

.margin-top-40{
  margin-top: 40px;
}

.margin-top-4{
  margin-top: 4px;
}

.margin-bottom-40{
  margin-bottom: 40px;
}
.nav li a{
  color:#000000;
 text-decoration: none;
}

.nav li a:hover{ 
  text-decoration: none;
  background-color: #8BC608;
}
.nav li a:hover,.nav li a:focus{  
  background-color: #8BC608;
}

.selected{
  background-color: #33AD5C;
}

.pos-padding{
  padding: 10px;
  background-color: #8bc608;
  position: fixed;
  z-index: 999;
  border: 1px solid #8BC608;
}

.padding-left-zero{ 
  padding-left: 0;
}

.padding-right-zero{
  padding-right: 0;
}

.cursor-pointer{
  cursor: pointer;
}

.icons{ 
  font-size: 17px;
   width: 23px;
}

.padding-left-10{
  padding-left: 10px;
}


.padding-left-20{
  padding-left: 20px;
}

.margin-bottom-zero{
    margin-bottom: 0 !important;
}

.font-bold{
  font-weight: bold;
}

.white{
  color: #ffffff;
}
.black{
  color:#000000;
}
.bg-black{
  background : #000000;
}
.top-view{
  padding: 10px;
  background-color: #ffffff;
  padding-top: 0;
}

.margin-top-10{
  margin-top: 10px
}

.margin-top-15{
 margin-top: 15px 
}

.margin-bottom-10{
  margin-bottom: 10px;
}

.margin-bottom-15{
  margin-bottom: 15px;
}

.margin-bottom-20{
  margin-bottom: 20px;
}

.border{
    border: 1px solid #e5e5e5;
}

.margin-top-bottom-15{
    margin-top: 15px;
    margin-bottom: 15px;
}

.border-bottom{
  border-bottom: 1px solid #EAE6E6;
}

.board-view{
  padding: 10px;
}

.padding-bottom-40{
  padding-bottom: 40px
}

.padding-top-10{
    padding-top: 10px;
}

.padding-top-bottom-10{
  padding-top: 10px;
  padding-bottom: 10px;
}

.padding-top-bottom-15{
    padding-top: 15px;
    padding-bottom: 15px;
}

.media{
  list-style-type: none;
  padding-left: 0;
  width: 100%
}

.selctionButton{
    padding: 6px;
    border-radius: 4px;   
    border-color: #ccc;
    cursor:pointer
}
.selctionButton:hover{
   background-color: #e6e6e6;
}

.model-width{
  width: 90%;
}

.model-height{
  height: 400px;
}

.bg-color{
  background-color:  #F2F1F1;
}

.selected-border{ 
  border: 1px groove #DAD4D4;
  opacity: 0.5;
}

body, #main {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    color: #1f1f1f;
    /*font-family: 'Fauna One', serif;*/
    /*background-color:  #FDFEFB;*/
    background-color:  #F5F5F5;
}

.bg-white{
  background-color: #ffffff;
}

.full-width{
  width:100%
}


.dashed-view{
  border: 3px dashed #b4b9be;
  height: 250px;
}

.wrapper{
  width: 320px;
  padding: 8% 0 0;
  margin: auto;
}
.form-control{
  font-size: 18px;
  width: 100%;
  padding: 3px;
  margin: 2px 6px 16px 0;
}

.form-signin{
  max-width: 380px;
  padding: 35px 35px 50px;
  margin: 0 auto;
  background-color: #ffffff;
  border: 1px solid #E5E5E5;
}

.ui.header {
    font-family: 'Glegoo', serif;
}

.site-wrapper {
    margin: 0 auto;
    max-width: 1280px;
}

.fixed-nav{
  position:fixed;
  background-color:transparent;
}

.header-content{
    width: 100%;
    text-align: center;    
    position: absolute;
    margin-top: 20%;
    background-position: center;
}

.header-content-inner{
    margin-right: auto;
    margin-left: auto;
    max-width: 1000px;
    color:#ffffff;
}

.homeslider-sub-content {
    color: #52366A;
    font-size: 25px;
    text-align: left;
    padding: 3px 10px;
    height:25%; 
    width:50%; 
    position:absolute; 
    right:10px; 
    bottom:14%; 
    background-image: url(/images/logo-sub.png);
    /*border-bottom-right-radius: 50px;*/
}

.homeslider-description {
    font-size: 15px;
    padding: 0px 35px;
    height: 35px;
    overflow: hidden;
    line-height: 18px;
}

.read-more {
    background: #6E9103 none repeat scroll 0 0; 
    border: medium none; 
    border-radius: 3px;  
    color: #ffffff; 
    font-weight: bold; 
    margin: 10px -3px 20px; 
    padding: 6px 10px;
}

.padding-100{
   padding: 100px 0;
}
.white-button{
  font-size: 20px;
    border-radius: 30px;
    padding: 15px 30px;
    background-color: #ffffff;
}
.img-view{
  max-width: 100%;
    height: auto;
}
.font-xxlarge{
  font-size: xx-large;
}
.font-xlarge{
  font-size: x-large;
}
.post-thumb{    
    padding: 15px 0px 16px 20px; 
    background: #ffffff;
}
.equal-child:nth-child(3n+1) {
    clear: left;      
}
.break-word{
    word-wrap: break-word;
}
.text-ellipsis{
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    height: 8em;
    overflow: hidden; 
}

.navbar-default .navbar-nav li  a{
    color: #ffffff;
}

.navbar-default .navbar-brand{
    color: #ffffff;
}

.banner{
    width: 100%;
    text-align: center;
    background-image: url(/images/office.jpg);
    height: 400px;
    background-position: center;        
}

.moz-header{
    height: 1.2em;
    overflow: hidden;
    cursor : pointer;
}

.popover fade right in{
    position: fixed;
    top:50%;
}

@media(max-width:992px){
    
    .equal-child:nth-child(2n+1) {
    clear: left;      
   }
}

.load-content-design {
  text-align: center;
  margin-top: 2%;
}

.give-more-content {
  background: #8CB4BA;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.give-more-content:hover {
  background: #221010;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.post-loading-icon {
  background-image: url(/images/ajax-loader.gif);
  text-align: center;
  margin-left: 48%;
  margin-bottom: 2%;
  margin-top: 2%;
  width:34px;
  height: 34px;
}

.posts-Over-text {
  font-size: 25px;
  text-align: center;
  color: red;
  padding-bottom: 30px;
}

.post-view {
  padding: 12px 6px;
}

.button-home {
  background: #f5f3ee none repeat scroll 0 0;
  border: medium none #e0e1d7;
  color: #447F8C;
  float: right;
  margin-top: 18px;
  padding: 5px 27px;
  margin-right: 8px;
}

.home-right-fields {
  position:absolute; 
  top:60px; 
  right:7px;
  width:19%;  
}

.home-ask-field {
  background: #6fa96f none repeat scroll 0 0;
/*  box-shadow: 0 0 10px rgba(0,0,0,0.6); 
  -moz-box-shadow: 0 0 10px rgba(0,0,0,0.6); 
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6); 
  -o-box-shadow: 0 0 10px; */
  height:189px; 
  overflow:hidden
}

.home-right-fields-header {
  text-align:center; 
  font-size: 18px; 
  padding: 10px;
}
 
.home-ask-inner-field {
    background:#FFFFFF; 
    width:90%; 
    margin-left:14px; 
    /*border-radius:10px; */
    height:130px; 
    overflow:hidden;
 }

.home-ask-inner-field textarea {
     width:200px; 
     height:65px; 
     resize:none; 
     padding:5px; 
     margin-top:10px;
}

.home-search-field {
  background: #6fa96f none repeat scroll 0 0;  
/*  box-shadow: 0 0 10px rgba(0,0,0,0.6); 
  -moz-box-shadow: 0 0 10px rgba(0,0,0,0.6); 
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6); 
  -o-box-shadow: 0 0 10px; */
  height:167px; 
  overflow:hidden; 
  margin-top:8px;
}

.home-search-inner-field {
  background:#FFFFFF; 
  width:90%; 
  margin-left:14px; 
  /*border-radius:10px; */
  height:109px; 
  overflow:hidden
}

.home-search-inner-field textarea {
  width: 200px; 
  height: 30px; 
  resize: none;
}

.home-answer-field {
  background: #6fa96f none repeat scroll 0 0; 
/*  box-shadow: 0 0 10px rgba(0,0,0,0.6); 
  -moz-box-shadow: 0 0 10px rgba(0,0,0,0.6); 
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6); 
  -o-box-shadow: 0 0 10px; */
  overflow: hidden; 
  margin-top: 8px;
  margin-bottom: 15px;
  /*max-height: 440px;
  height: auto; */
  height: 440px;
}

.home-answer-inner-field {
  background: #FFFFFF; 
  width: 90%; 
  margin-left: 14px; 
  /*border-radius: 10px; */
  overflow: hidden;
  /*height: auto; 
  max-height: 362px;*/
  height: 362px; 
}

.home-answer-inner-field-content {
  text-overflow: ellipsis; 
  white-space: nowrap; 
  overflow: hidden;
  cursor: pointer;
  padding:13px 20px;
  font-weight: bold;
}

.home-answer-inner-field-detail {
  padding: 10px;
  font-size: 12px; 
  margin-left: 10px; 
  margin-top: -22px;
}

.home-answer-inner-field-content:hover{
  color:#81915B;
  text-decoration: underline;
}

.border-top {
  border-top: 1px solid #D1D1D1; 
  margin-left: 10px; 
  width: 90%; 
  padding-bottom: 5px;
  border-top-width: 1px;
}

.home-post-field {
  /*width: 65%; */
  /*background: #94bf94; */
/*  box-shadow: 0 0 10px rgba(0,0,0,0.6); 
  -moz-box-shadow: 0 0 10px rgba(0,0,0,0.6); 
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6); 
  -o-box-shadow: 0 0 10px; */
  /*padding: 10px; 
  position: absolute; 
  top: 75px; 
  left: 20%;
  padding-bottom: 15px;
*/
   /* left: 10px;
    padding: 10px 10px 15px;
    position: absolute;
    top: 10px;
    width: 99%;*/

     left: 17%;
    padding: 10px 10px 15px;
    position: absolute;
    top: 140px;
    width: 83%;
}

.all-questions{
  margin-top: 7px; 
  text-align: center
}

.all-questions-content{
  cursor: pointer;
  color: black
}

.border-top-allquestion {
  border-top: 2px solid #ffffff; 
  padding-bottom: 5px;
}

.home-left-field {
  position: absolute; 
  top: 52px; 
  left: 7px; 
  width: 18%;
  /*height: 100%;*/
  background: #ffffff; 
  z-index: 100;
  /*border: 2px solid #81915B;*/
}

.home-categories-field{
    background: #6fa96f none repeat scroll 0 0;  
/*    box-shadow: 0 0 10px rgba(0,0,0,0.6); 
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.6); 
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6); 
    -o-box-shadow: 0 0 10px;*/ 
    height:auto; 
    overflow:hidden; 
    margin-top:8px;
    /*padding-bottom: 15px;*/
}

.home-categories-inner-field {
    background: #D8D8D8; 
/*    box-shadow: 0 0 10px rgba(0,0,0,0.6); 
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.6); 
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6); 
    -o-box-shadow: 0 0 10px; */
    /*width: 99.4%; */
    /*margin-left: 1px; */
    /*border-radius: 10px; */
    overflow: hidden;
    height: auto;
    /*border: 1px solid #FFFFFF; */
}

.category-title {
  background: #81915B;
  color: #ffffff; 
  padding: 10px; 
  margin-bottom: 10px; 
  text-align: center;
}

.post-published-design {
  margin-left: -16px; 
  margin-top: 20px; 
  padding-bottom: 8px; 
  text-align: right;
  color: #000000;
}

/*.postError {*/
  /*background-color: #99CCFF; */
  /*color: #F00; 
  font-weight: bold;
  font-size: 16px;
  font-family: arial;*/
  /*margin-left: 36%; */
/*}*/

.set-img:hover {
  color: #19A3D1;
}

.err-padding{
  padding: 1px;
  /*background-color: #E22727;*/
  position: fixed;
  z-index: 999;
  margin-top: 8px;
  color: red;  
  font-weight: bold;
  font-size: 16px;
  font-family: arial;
  text-align: center;
}

.option-icon {
  margin-left:80px;
}

.empty-results {
  font-size: 20px;
  font-weight: bold;
}

.gallery-icon img {
  display:inline-block; 
  margin:5px 20px; 
  padding:5px; 
  border:2px solid #cfcfcf; 
  background: #DEE8C5;
}

@-webkit-keyframes mymove {
    from {right: 0px;}
    to {right: 1300px;}
}

@keyframes mymove {
    from {right: 0px;}
    to {right: 1300px;}
}

.description_1 ul {
  padding: 0 0 0 30px;
}

.description_2 ul {
  padding: 0 0 0 30px;
}

.description_1 ul li {
  list-style: disc;
}

.description_2 ul li {
  list-style: disc;
}

.dr:hover {
  cursor: pointer;
  box-shadow: 0px 1px 4px 1px #558B2F;
}

.drName:hover {
  cursor: pointer;
  color: #558B2F;
}