
@import 'variables';
@import 'lib/elements';
@import 'main';


.fixed-nav{
	position:fixed;
	background-color:transparent;
}

.header-content{
    width: 100%;
    text-align: center;
    background-image: url(images/Technology.jpg);
    height:700px;
    background-position: center;
}
.padding-100{
	 padding: 100px 0;
}
.white-button{
	font-size: 20px;
    border-radius: 30px;
    padding: 15px 30px;
    background-color: @fontColor;
}
.img-view{
	max-width: 100%;
    height: auto;
}
.font-xxlarge{
	font-size: xx-large;
}
.font-xlarge{
	font-size: x-large;
}
.post-thumb{    
    padding: 15px 0px 16px 20px; 
    background: @fontColor;
}
.equal-child:nth-child(4n+1) {
    clear: left;      
}
.break-word{
    word-wrap: break-word;
}
.text-ellipsis{
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: 8em;    
}

.moz-header{
    height: 1.2em;
    overflow: hidden;
}