*{
  font-family: Arial;
}

pre {
  white-space:pre-wrap !important;
  word-wrap:break-word !important;
}

/*
.bg-gradient {
    background: -webkit-linear-gradient(top, rgba(255, 0, 0, 0), rgb(20, 138, 165));
    background: -o-linear-gradient(top, rgba(255, 0, 0, 0), rgb(20, 138, 165));
    background: -moz-linear-gradient(top, rgba(255, 0, 0, 0), rgb(20, 138, 165));
    background: linear-gradient(to top, rgba(255, 0, 0, 0), rgb(20, 138, 165));
}

.set-color {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}*/

.text-ellipsis {
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    height: 6.9em;
    overflow: hidden;
    padding: 5px 20px 15px 0px;
    font-size: small;
}

.post-width {
    width: 100%;
}

.post-header-theme {
    height: 1.2em;
    overflow: hidden;
    cursor: pointer;
    color: rgb(255, 56, 0);
    font-size: 20px;
}



.load-content-design {
  text-align: center;
  margin-top: 2%;
}

.give-more-content {
  background: #8CB4BA;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.give-more-content:hover {
  background: #221010;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.posts-Over {
  font-size: 25px;
  text-align: center;
  color: red;
}

.fixed-nav {
    position: fixed;
    background-color: transparent;
}

.back {
    font-size: 20px;
    color: black;
    cursor: pointer;
    position: absolute;
    margin-top: 10px;
}

#owl-demo .item {
    margin: 3px;
}

#owl-demo .item img {
    display: block;
    width: 100%;
    height: auto;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
}

.carousel-inner {
    position: relative;
    width: 100%;
}

.bannerDesign {
    margin-top: -20px;
}

.slider-image {
    width: 100% !important;
    height: 500px !important;
}

.slider-main-text {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 65px;
    line-height: 70px;
}

.default-image{
   background-image: url(images/background/background1.jpg);
  background-size: cover;
   display: block;
}

.header-content{
    width: 100%;
    text-align: center;
    position: absolute;
    top: 5%;
    background-position: center;
    margin-top: 10%;
}

.header-content-inner {
    margin-right: auto;
    margin-left: 50px;
    max-width: 1000px;
    color: #ffffff;
}

.bg-color {
    background-color: #f3f0eb;
}

.equal-child:nth-child(4n+1) {
    clear: left;
}

.banner {
    width: 100%;
    text-align: center;
    background-image: url(/images/office.jpg);
    height: 400px;
    background-position: center;
}

.post-thumb {
    padding: 25px 0px 35px 20px;
    background: #ffffff;
    height: 170px;
}

.bg-dynamic-color {
    background-color: black;
}


.slider-post-image {
    width: 100% !important;
    height: 400px !important;
}

.post-list-header-theme {
   margin-top: 10%;
}

.upper-case {
    text-transform: uppercase;
}

.feature-image {
    width: 100%;
    height: 175px;
    cursor: pointer;
}

.right-arrow{
    position: absolute;
    right: 5px;
    bottom: 0px;
    width: 30px;
    height: 30px;
    background: url(../images/sprite.png);
    background-position: -30px -108px;
    transition-duration: 0.3s;
    cursor: pointer;
}

.postLists:hover > img{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%); 
    -webkit-opacity: 0.6;
    -moz-opacity: 0.6;
    opacity: 0.6;  
}

.postLists:hover > .post-thumb > .post-header-theme{
   color: rgb(105, 98, 96); 
}

.postLists:hover > .post-thumb > .right-arrow{
    background-position:  0px -108px;
    transition-duration: 0.3s;
}


@media(max-width:992px){    
    .equal-child:nth-child(2n+1) {
        clear: left;
    }
}

@media (max-width: 768px) {
    .image-center {
        text-align: center;
    }
    .text-center {
        margin: auto;
    }
}

.load-content-design {
  text-align: center;
  margin-top: 2%;
}

.give-more-content {
  background: #8CB4BA;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.give-more-content:hover {
  background: #221010;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.loading-icon {
  background-image: url(/images/loading_anim.gif);
  text-align: center;
  margin-left: 48%;
  margin-bottom: 2%;
  margin-top: 2%;
  width:34px;
  height: 34px;
}

.posts-Over {
  font-size: 25px;
  font-family: Arial;
  text-align: center;
  color: #3AABF6;
}

/*.postError {*/
  /*background-color: #F2F1F1; */
 /* color: #F00; 
  font-weight: bold;
  font-size: 16px;
  font-family: arial;
  margin-left: 36%; 
}*/

.post-success {
  color: red;  
  padding: 1px;
  /*background-color: #36DB5C;*/
  position: fixed;
  z-index: 999;
  margin-top: 8px; 
  font-weight: bold;
  font-size: 16px;
  font-family: arial;
  text-align: center;
}