<template name="header">

<nav id="mainNav" class="navbar navbar-default navbar-fixed-top fixed-nav" style="background:#ffffff">
  <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand page-scroll font-xlarge" href="#" style="color:#6E9103">Grannytherapy</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        {{#if currentUser}}
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a class="page-scroll" style="color:#6E9103">Welcome {{currentUser.username}}</a>
            </li>
            <li>
              <a class="page-scroll logout" style="color:#6E9103" id="logout">Logout</a>
            </li>
          </ul>
        {{/if}}
      </div>
  </div>
</nav>

</template>