<template name="header">
{{#if showSelectedPost}}    
    <div>
       <nav id="mainNav" class="navbar navbar-default navbar-fixed-top fixed-nav">
          <div class="container-fluid">       
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
                  <span id="backToPage" class="back">Back</span>                       
              </div>
            </div>
        </nav>
      </div>
{{else}}   
<div class="container padding-zero full-width">
  <div id="myCarousel" class="carousel slide bannerDesign" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
      {{#if isHomeSlider}}      
          {{#each homeSliderList}}
                {{#if equals _id singlehomeSlider._id }}
                <div class="item active" id="someid">
                  <img src="{{sliderImage}}" class="slider-image">
                </div>
                {{else}}
                <div class="item">
                  <img src="{{sliderImage}}" class="slider-image">
                </div>
                {{/if}}
          {{/each}}
        <a class="carousel-control left" href="#myCarousel" data-slide="prev" style="background-image:none;">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>  
        <a class="carousel-control right" href="#myCarousel" data-slide="next" style="background-image:none;">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a> 
      {{else}} 
        <img  class="slider-image default-image">
      {{/if}}  
    </div>
  </div>
  </div>
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top fixed-nav">
  <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand page-scroll font-xlarge" href="#">ACITO</a>
      </div>

      <!-- <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right"> 
            {{#each pagesList}}
            <li>
              <a id="pageName" class="page-scroll" href="#Pages">{{title}}</a>
            </li>                    
            {{/each}}                      
          </ul>
      </div> -->

      <div id="navbar" class="navbar-collapse collapse col-xs-12 col-sm-9 col-md-8 pull-right"  >
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a class="page-scroll" href="#page-top">Home</a></li>
            <li><a class="page-scroll" href="#about">ABOUT US</a></li>
            <li onClick="select()"><a class="page-scroll summarymenu" href="solutions.html">SOLUTIONS</a></li>
            <li><a class="page-scroll" href="#overview">TECHNOLOGY</a></li>
            <li><a class="page-scroll blogmenu" href="blog.html">BLOG</a></li>
            <li><a class="page-scroll" href="#contact">Contact</a></li>
          </ul>
      </div>
  </div>
</nav>
{{/if}}
</template>

