<template name="addNewPage">
    <div>
        {{> searchHelp}}
        <div class="margin-top-20">
            <div class="row post-margin">
                <span style="font-size: 30px;">Add a New Pages</span>
            </div>
        </div>
        <div class="col-md-8  padding-left-zero">
            {{#if PublishedPages}}
            <input type="text" class="form-control" id="pageTitle" value={{PublishedPages.title}}>
            <div>
                <textarea name="area1" cols="80" rows="20" id="pageComments" class="form-control">{{PublishedPages.content}}</textarea>
            </div>
            {{else}}
            <input type="text" class="form-control" placeholder="Enter title here" id="title">
            <div>
                <textarea name="area1" cols="80" rows="20" id="comments" class="form-control"></textarea>
            </div>
            {{/if}}
        </div>
        <div class="col-md-4 padding-bottom-40">
            <div class="bg-white">
                <div class="board-view  border-bottom">publish <span class="caret pull-right margin-top-10"></span></div>
                <div class="board-view">
                    {{#if PublishedPages}}
                        {{else}}
                    <span><button type="button" class="btn btn-default" id="draft">Save Draft</button></span>
                    {{/if}}
                    <span class="pull-right"><button type="button" class="btn btn-default">Preview</button></span>
                </div>
                <div class="board-view">Status: Draft <a href="#">Edit</a></div>
                <div class="board-view">Visibility: public <a href="#">Edit</a></div>
                <div class="board-view">Publish immediately <a href="#">Edit</a></div>
            </div>
            <div class="board-view border-bottom" style="  border: 1px solid #ddd;border-top: 0;">
                 
                {{#if PublishedPages}}
                    {{#if PublishedPages.deleted}}
                        <a href= "/admin/pages" id="delete">Delete Pages</a>
                        {{else}}
                     <a href= "/admin/pages" id="updatebin">Move to Bin</a>
                        {{/if}}
                   {{else}}
                   <a href= "/admin/pages" id="insertbin">Move to Bin</a>
                {{/if}}

                {{#if PublishedPages}}
                    {{#if PublishedPages.deleted}}
                    <span style="padding-left: 40%"><button type="button" class="btn btn-primary" id="restore">Restore</button></span>
                    {{else}}
                        {{#if PublishedPages.published}}
                        <span style="padding-left: 40%"><button type="button" class="btn btn-primary" id="update">Update</button></span>
                        {{else}}
                         <span style="padding-left: 40%"><button type="button" class="btn btn-primary" id="republish">Publish</button></span>
                        {{/if}}
                    {{/if}}
                {{else}}
                <span style="padding-left: 40%"><button type="button" class="btn btn-primary" id="publish">Publish</button></span>
                {{/if}}
            </div>
            <div class="bg-white margin-top-20">
                <div class="board-view border-bottom">Page Attribute<span class="caret pull-right margin-top-10"></span></div>
                <div class="board-view">Parent</div>
                <div class="dropdown board-view">
                    <button class="btn btn-default dropdown-toggle padding-right-20" type="button" id="parentinsert" data-toggle="dropdown">
                        (no parent)                        
                    </button>
                    <span class="caret" style=" margin-left: -20px;"></span>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                       <!--  <li><a href="#">Accessibility</a></li>
                        <li><a href="#">Advertising Terms Conditions</a></li>
                        <li><a href="#">Cookies & Privacy</a></li>
                        <li><a href="#">Get in Touch</a></li> -->
                        <li><a href="#" class="page">(no parent)</a></li>
                        {{#each NoParentPages}}                          
                            <li><a href="#" class="page">{{title}}</a></li>
                         {{/each}}
                    </ul>
                </div>
                <div class="board-view" >
                    Orders
                </div>
                <div class="board-view">
                    <input type="text" class="form-control" value="0">
                </div>
                <div class="board-view">
                    Need help? Use the Help tab in the upper right of your screen.
                </div>
            </div>
            <div class="bg-white margin-top-20">
                <div class="board-view border-bottom">Feature image <span class="caret pull-right margin-top-10"></span></div>
                <div class="board-view">
                    <span><a href="#">Set featured image</a></span>
                </div>
            </div>
        </div>
    </div>
</template>