<template name="pages" id="pages">
    <div class="main-content-box z-depth-2">
        <div style="margin-left: 2.5%; margin-top: 3%;width: 95%;margin-bottom:30px">
            <div class="row post-margin">
                <!-- <div class="col l4">
                    <span class="main-header">Pages</span>
                    <span><button type="button" id="addNew" class="admin-btn">Add New</button></span>
                </div> -->
                 <div class="col l1">
                  <span style="font-weight:bold; font-size:25px;">Pages</span>
                </div> 
                <div class="col l2" style="margin-left:5px">
                  <button class="btn waves-effect waves-light" type="button" id="addNew">Add New</button>
                </div>
            <div class="col l8 post-margin">
                <div style="float: right">
                    <input type="text" class="form-control" id="pagesearch" style="width:60%; display:inline"/>
                    <span>
                        <!-- <button type="button" id="search" class="admin-btn" style="margin-top:-5px">Search</button> -->
                        <i class="small material-icons" id="search">search</i>
                    </span>
                </div>
            </div>
            </div>
            <div class="row post-margin">
                <div class="col l2 padding-left-zero">
                    <div class='dropdown-button btn drop-down-list' data-activates='bulkActions'>
                        <span id="bulkOptionDropDown" style="margin-left: 17px; float:left;">Bulk Actions</span>
                        <i class="mdi-navigation-arrow-drop-down"></i>
                    </div>
                    <!-- Dropdown Structure -->
                    <ul id='bulkActions' class='dropdown-content'>
                        <li class="action-item">Bulk Actions</li>
                        <li class="divider"></li>
                        <li class="action-item">Delete</li>
                        <li class="divider"></li>                        
                        <li class="action-item">Move to Bin</li>
                    </ul>
                </div>

                <div class="col l2" id="apply">
                  <span>
                    <!-- <button type="button" id="Bulkapply" class="admin-btn">Apply</button> -->
                     <button class="btn waves-effect waves-light" type="button" id="Bulkapply">Apply</button>
                  </span>
                </div>

                <div class="col l2">
                    <!-- <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        All dates
                        <span class="caret"></span>
                    </button> -->
                   <!--  <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <li><a href="#" class="dateitem">All dates</a></li>
                        <li><a href="#" class="dateitem" value="5/2015">May 2015</a></li>
                        <li><a href="#" class="dateitem">June 2015</a></li>
                        <li><a href="#" class="dateitem">July 2015</a></li>
                    </ul> -->
                    <select id="filterdate" class="selctionButton browser-default margin-left-10" style="height:33px;">
                        <option value="All dates" selected="selected">All dates</option>
                        <option value="/9/2015">September 2015</option>
                        <option value="/10/2015">October 2015</option>
                        <option value="/11/2015">November 2015</option>
                    </select>
                </div>
<!--                 <div class="col l1">
                   <span><button type="button" class="admin-btn" id="Datefilter">Filter</button></span>
                </div> -->
            </div>
            <div class="cursor-pointer row">
                <div class="col l12">
                <span class="right" style="margin-bottom: -19px; margin-right:-9px"><a id="pageAll">All
                </a> | 
                  <a id="pagePublish">Published</a> |
                  <a id="pageDraft">Draft</a> |
                  <a id="pageBin">Bin</a>
                </span>
                </div>
            </div>
            <div class="row post-margin padding-top-bottom-10">
                <div class="bs-example" data-example-id="striped-table">
                    <div class="row bg-white padding-top-bottom-10 " style="border: 1px solid #ddd">
                        <div class="col l1">
                            <input type="checkbox" id="checkboxPagesAll" class="filled-in"/>
                            <label for="checkboxPagesAll"></label>
                        </div>
                        <div class="col l3 padding-left-zero margin-left-minus-30">Title</div>
                        <!-- <span><input type="checkbox"></span> -->
                        <div class="col l3">Author</div>
                        <div class="col l3">comments</div>
                        <div class="col l2">Date</div>
                    </div>
                    {{#if equals pageListCount 0}}
                        <!-- <div class="empty-results">No Results</div> -->
                      <div class="row cursor-pointer">
                        <div class="CodingRules-data-row">
                             <div class="col l12 center empty-results">
                                <span>No Results</span>
                            </div>
                        </div>
                      </div>
                    {{else}}
                        {{#each lists}}
                        {{#if currentUser}}
                        <div class="row  padding-top-bottom-10 cursor-pointer" style="border: 1px solid #ddd; margin-top:-21px">
                            <div class="col l1 margin-top-10">
                        <input type="checkbox" id="page{{_id}}" class="filled-in checkbox" value="{{_id}}"/>
                            <label for="page{{_id}}"></label>
                            </div>
                            <div class="col l3 padding-left-zero margin-left-minus-30" id="list">
                                {{#if deleted}}
                                <strike>{{title}}</strike>
                                {{#if equals parentId "null"}}
                                {{else}}
                                | Parent Page: {{parentTitle}}
                                {{/if}}
                                <div><a href="#" id="restorelist">Restore</a> | <a href="#" id="deletelist">Delete
                                    Permanently</a></div>
                                {{else}}
                                {{title}}
                                <div><a href="/admin/pages/edit" id="editlist">Edit</a> | <a href="#" id="binlist">Bin</a>
                                </div>
                                {{/if}}
                            </div>
                            <div class="col l3">{{currentUser.username}}</div>
                            <div class="col l3">comments</div>
                            <div class="col l2">{{createdAt}}
                                <br>

                                <div>{{status}}</div>
                            </div>
                        </div>
                        {{/if}}
                        {{/each}}
                    {{/if}}
                </div>
            </div>
            <!--  <div class="row post-margin">
                 <span class="dropdown">
                     <button class="btn btn-default dropdown-toggle padding-right-20" type="button" id="dropdownMenu5" data-toggle="dropdown">
                         Bulk Actions
                     </button>
                     <span class="caret margin-left-minus-20"></span>
                     <ul class="dropdown-menu" aria-labelledby="dropdownMenu5">
                         <li><a href="#">Bulk Actions</a></li>
                         <li><a href="#">Edit</a></li>
                         <li><a href="#">Move to Bin</a></li>
                     </ul>
                 </span>
                 <span class="margin-left-10"><button type="button" class="btn btn-default">Apply</button></span>
             </div> -->
        </div>
    </div>
</template>