<template name="pages" id="pages">
    <div>
        <div class="row">
            <div class="col-md-2 col-md-offset-8 top-view text-center">Screen Options <span class="caret"></span></div>
            <div class="col-md-1 top-view text-center" style="margin-left: 15px">Help <span class="caret"></span></div>
        </div>
        <div class="margin-top-20">
            <div class="row post-margin">
                <span style="  font-size: 30px;  vertical-align: top;">Pages</span> <span><button type="button" id="addNewPost" class="btn btn-default">Add New</button></span>
            </div>
            <div class="row post-margin">
                <div style="float: right">
                    <input type="text" class="form-control" style="width:60%; display:inline" />
                    <span><button type="button" class="btn btn-default">Search Pages</button></span>
                </div>
            </div>
            <div>
                 <span><a herf="#">All</a> | <a href="#">Published</a></span>
            </div>
            <div class="row post-margin">
                <div class="col-md-3 padding-left-zero">
                <span class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Bulk Actions
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href="#">Bulk Actions</a></li>
                        <li><a href="#">Edit</a></li>
                        <li><a href="#">Move to Bin</a></li>
                    </ul>
                </span>
                    <span><button type="button" class="btn btn-default">Apply</button></span>
                </div>
                <div class="col-md-6">
                <span class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        All dates
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <li><a href="#">All dates</a></li>
                    </ul>
                </span>
                    <span><button type="button" class="btn btn-default">Filter</button></span>
                </div>
            </div>
            <div class="row post-margin padding-top-bottom-10">
                <div class="bs-example" data-example-id="striped-table">
                    <div class="row bg-white padding-top-bottom-10 " style="border: 1px solid #ddd">
                        <div class="col-md-7"><span><input type="checkbox"></span>Title</div>
                        <div class="col-md-2">Author</div>
                        <div class="col-md-1">comments</div>
                        <div class="col-md-2">Date</div>
                    </div>
                    <div class="row  padding-top-bottom-10" style="border: 1px solid #ddd">
                        <div class="col-md-7"><span><input type="checkbox"></span>Accessibility</div>
                        <div class="col-md-2">Author</div>
                        <div class="col-md-1">comments</div>
                        <div class="col-md-2">Date</div>
                    </div>
                </div>
            </div>
            <div class="row post-margin">
                <span class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Bulk Actions
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu5">
                        <li><a href="#">Bulk Actions</a></li>
                        <li><a href="#">Edit</a></li>
                        <li><a href="#">Move to Bin</a></li>
                    </ul>
                </span>
                <span><button type="button" class="btn btn-default">Apply</button></span>
            </div>
        </div>
    </div>
</template>