<template name="themes">

    <div class="row margin-top-40">
        <span class="main-header">Themes</span>
    </div>
    <div class="margin-top-20">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-4 cursor-pointer">
                    <img class="themeSelection" id="theme1" src="../images/theme.jpg"
                         style=" width: 320px;height: 220px;">
                </div>
                <div class="col-md-4 cursor-pointer">
                    <img class="themeSelection" id="theme2" src="../images/theme1.jpg"
                         style=" width: 320px;height: 220px;">
                </div>
                <div class="col-md-4 cursor-pointer">
                    <img class="themeSelection" id="theme3" src="../images/theme2.jpg"
                         style=" width: 320px;height: 220px;">
                </div>
            </div>
        </div>
        <div class="row margin-top-20 pull-right padding-left-20">
            <button class="btn btn-primary" id="selectTheme">Select Theme</button>
        </div>
    </div>
</template>