<template name="adminLogin">
    <div class="login-body">
    <div class="logo-back"></div>
    <div class="granny-logo"></div>
    <div class="admin-login">
        <div class="admin-login-content">Admin Login</div>
        <form id="frmLogin" class="form-signin">
            <div>Username/Email</div>
            <div><input type="text" class="form-control" id="login-email"/></div>
            <div>Password</div>
            <div><input type="password" id="login-password" class="form-control"/></div>
            <div align="right"><button class="btn btn-info" type="submit">Login</button></div>
        </form>
        <div class="loginalert">
            <p>Please Login</p>
            <button class="loginalertbtn">ok</button>
        </div>
    </div>
    </div>
</template>