<template name="adminLogin">
    <!-- <div style="    height: 200px;
    background: -webkit-linear-gradient(#8AC70F, #CFE89B); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#8AC70F, #CFE89B); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#8AC70F, #CFE89B); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#8AC70F, #CFE89B); /* Standard syntax (must be last) */
"></div> -->
    <div class="logo-back"></div>
    <div class="granny-logo"></div>
    <div class="admin-login">
        <div class="admin-login-content">Admin Login</div>
        <form id="frmLogin" class="form-signin">
            <div>Username/Email</div>
            <div><input type="text" class="form-control" id="login-email"/></div>
            <div>Password</div>
            <div><input type="password" id="login-password" class="form-control"/></div>
            <div>
                <input type="checkbox" value="remember-me" id="rememberMe" style="margin-left: 0">
                <span>Remember me</span>
                <span class="pull-right"><button class="btn btn-info" type="submit">Login</button></span>
            </div>
            <div align="center">
                <div id="errorMsg"></div>
            </div>
        </form>
        <!-- <div class="text-center" style="padding-top: 15px;"></div> -->
        <!-- <div class="text-center" style="padding-top: 15px;"><a href="#">Back to Acito</a></div> -->
        <div class="loginalert">
            <p>Please Login</p>
            <button class="loginalertbtn">ok</button>
        </div>
    </div>
</template>