<template name="adminlayout">

<div class="navbar-fixed">
     <nav role="navigation" style="background:#009933">
        <div class="nav-wrapper" style="margin:0 15px;">
           <a href="#" style="font-size:22px;font-weight:bold; color:#ffffff" class="title">Grannytheraphy</a>
          <a href="#" data-activates="slide-out" style="margin-right:20px;" class="button-collapse side-icon  "><i class="mdi-navigation-menu"></i></a>
        
        <div class="pull-right">
          <div id="logoutSpinner" class="preloader-wrapper smaller active v-align-middle">
            <div class="spinner-layer spinner-white-only">
              <div class="circle-clipper left">
                <div class="circle"></div>
                </div><div class="gap-patch">
                <div class="circle"></div>
                </div><div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
          </div>
          <span id="logout" class="logout">Logout</span>
        </div>
        </div>
      </nav>
</div>

<div class="hide-on-med-only hide-on-small-only">
  <div class="row">
        <div class="col l2">
          <div class="leftMenu z-depth-2" style="background:#ffffff; top: 64px;">
            {{#each navBarList}}
              <li id="navBar{{title}}" class="item" style="padding: 4px 15px;">
                  <a href="/admin/{{title}}">
                      <div>
                      <span style="color:#000000; font-size:16px;" id="nav{{title}}">{{maintitle}}</span>
                      </div>
                  </a>
                  <ul style="list-style: none;" id="showSubTitle">
                      {{#each subtitle}}
                      <li class="padding-bottom-10" id="subNavBar{{title}}{{sTitle}}"><a
                              href="/admin/{{title}}/{{sTitle}}"><span style="color:#FFFFFF; font-size:16px;">{{name}}</span></a></li>
                      {{/each}}
                  </ul>
              </li>
            {{/each}}
          </div>
        </div>
  </div>
</div>

</template>