<template name="dashBoard">
    <div style="width: 100%">
        <div class="row">
            <div class="col-md-2 col-md-offset-8 top-view text-center">Screen Options <span class="caret"></span></div>
            <div class="col-md-1 top-view text-center" style="margin-left: 15px">Help <span class="caret"></span></div>
        </div>
        <div class="margin-top-20">
            <div class="row post-margin">
                <span style="  font-size: 30px;  vertical-align: top;">Dashboard</span>
            </div>
        </div>
        <div class="row">
              <div class="col-md-6 padding-left-zero">
                  <div class="board-view">
                      At a Glance <span class="caret pull-right" style="margin-top: 10px;"></span>
                  </div>


              </div>
            <div class="col-md-6 dashed-view">

            </div>
        </div>
    </div>
</template>