<template name="dashBoard">
    <div style="width: 100%">
        <div class="margin-top-40">
            <div class="row">
                <span style="font-size: 30px;">Dashboard</span>
            </div>
        </div>
        <div class="row padding-top-bottom-10">
            <div class="col-md-6 padding-left-zero">
                <div class="board-view bg-white border-bottom">
                    At a Glance <span class="caret pull-right margin-top-10"></span>
                </div>
                <div class="row bg-white">
                    <div class="col-md-6 padding-top-bottom-10">
                        Posts ({{postCount}})
                    </div>
                    <div class="col-md-6 padding-top-bottom-10">
                        Pages ({{pagesCount}})
                    </div>
                    <div class="col-md-6 padding-top-bottom-10">
                        Comments
                    </div>
                    <div class="col-md-12 padding-top-bottom-10">
                        WordPress 4.2.2 running <a href="#">Ten Alps PLC</a> theme.
                    </div>
                </div>
                <div class="board-view margin-top-10 bg-white border-bottom">
                    Activity <span class="caret pull-right margin-top-10"></span>
                </div>
                <div class="row bg-white border-bottom">
                    <div class="col-md-12 padding-top-bottom-10">
                        Recently Published
                    </div>
                    <div class="col-md-4 padding-top-bottom-10">
                        16 Jul, 9:33 am
                    </div>
                    <div class="col-md-6 padding-top-bottom-10">
                        Home Reef
                    </div>
                </div>
                <div class="row bg-white border-bottom">
                    <div class="col-md-12 padding-top-bottom-10">
                        Comments
                    </div>
                </div>
                <div class="row border-bottom">
                    <div class="col-md-2 padding-top-bottom-10">
                        <img src="/images/none.png" class="img-rounded">
                    </div>
                    <div class="col-md-10 padding-top-bottom-10">
                        From Mr WordPress on Our group #
                        Hi, this is a comment. To delete a comment, just log in and view the post's comments. There you
                        will have
                    </div>
                </div>
                <div class="row bg-white">
                    <div class="col-md-12 padding-top-bottom-10">
                        <span><a href="#">All</a> | <a href="#">Pending</a>(0) | <a href="#">Approved</a> | <a href="#">Spam</a>(0) | <a
                                href="#">Bin</a>(0) </span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 dashed-view">
            </div>
        </div>
    </div>
</template>