<template name="adminHeader">
    <div class="row">
        <div class="padding-left-zero">
            <div class="side_bar">
                <div class="bs-example" data-example-id="inverted-navbar">
                    <nav class="navbar navbar-inverse" style="  margin-bottom: 0;  border-radius: 0;">
                        <div class="container-fluid">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-9" aria-expanded="false">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                        </div>
                    </nav>
                </div>
                <div class="side_bar_menu">
                    <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-9" aria-expanded="false" style="  max-height: 100%;  padding: 0;  cursor: pointer;">
                        <ul class="nav navbar-nav" style="color:  rgb(200, 208, 215);">
                            {{#each navBarList}}
                            <li id="navBar">
                                <a href="/admin/{{title}}" class="nav"><span><i class="fa fa-tachometer icons"></i> {{title}}</span></a>                               
                                <ul style="list-style: none;">
                                    {{#each subtitle}}
                                    <li id="subNavBar{{title}}{{sTitle}}"><a href="/admin/{{title}}/{{sTitle}}"><span>{{name}}</span></a></li>
                                    {{/each}}
                                </ul>
                            
                            </li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

