<head>
    <title>...loading</title>
    <link href="/main.css" rel="stylesheet" type="text/css" id="currentTheme"/>
    <link href="/theme.css" rel="stylesheet" type="text/css" id="currentTheme1"/>
	<link rel="stylesheet" href="/materialize.css">
	<link rel="stylesheet" href="/main.css">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1"/>
    <!-- <link rel="icon" sizes="16x16 32x32" href="/favicon.ico?v=2"> -->
<script type="text/javascript" src="/tinymce.min.js"></script>
<script src="/jquery-2.1.1.min.js"></script>
<script src="/materialize.js"></script>

</head>