<head>
    <title>...loading</title>
    <meta charset="utf-8">
    <link href="/main.css" rel="stylesheet" type="text/css" id="currentTheme"/>
    <link href="/theme.css" rel="stylesheet" type="text/css" id="currentTheme1"/>
	<link rel="stylesheet" href="/materialize.css">
	<link rel="stylesheet" href="/main.css">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1"/>
    <!-- <link rel="icon" sizes="16x16 32x32" href="/favicon.ico?v=2"> -->
	<script type="text/javascript" src="/tinymce.min.js"></script>
	<script src="/jquery-2.1.1.min.js"></script>
	<script src="/materialize.js"></script>
	<!-- // <script src="//cdn.ckeditor.com/4.5.2/standard/ckeditor.js"></script> -->
	<script src="/ckeditor/ckeditor.js"></script>
	<script type="text/javascript">var switchTo5x=true;</script>
	<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
	<script type="text/javascript">stLight.options({publisher: "adf6a9e7-f0ba-4402-bfa2-bbf4a9b749d8", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
</head>