<template name="homeSlider" id="homeSlider">
    <div class="main-content-box  z-depth-2">
        <div style="margin-left: 2.5%; margin-top: 3%;width: 95%;margin-bottom:30px">
<!--             <div class="row post-margin">
                <span class="main-header">Home Sliders</span>
                <span><button type="button" id="addNew" class="btn btn-default">Add New</button></span>
            </div>
            <div class="row post-margin">
                <div style="float: right">
                    <input type="text" class="form-control" id="searchString" style="width:54%; display:inline"/>
                    <span><button type="button" id="searchSlider" class="btn btn-default">Search</button></span>
                </div>
            </div> -->

            <div class="row post-margin">
            <!-- <div class="col l4">
                <span class="main-header">Home Sliders</span>
                <span><button type="button" id="addNew" class="admin-btn">Add New</button></span>
                </div> -->
                <div class="col l3">
                  <span style="font-weight:bold; font-size:25px;">Home Sliders</span>
                </div> 
                <div class="col l2" style="margin-left:-63px">
                  <button class="btn waves-effect waves-light" type="button" id="addNew">Add New</button>
                </div>
            <div class="col l7 post-margin">
                <div style="float: right">
                    <input type="text" class="form-control" id="pagesearch" style="width:60%; display:inline"/>
                    <span>
                        <!-- <button type="button" id="searchSlider" class="admin-btn" style="margin-top:-5px">Search</button> -->
                        <i class="small material-icons" id="searchSlider">search</i>
                    </span>
                </div>
            </div>
            </div>

            <div class="row post-margin">
                <div class="col l2 padding-left-zero">
                    <div class='dropdown-button btn drop-down-list' data-activates='bulkActions'>
                         <span id="bulkOptionDropDown" style="margin-left: 17px; float:left;">Bulk Actions</span>
                     <i class="mdi-navigation-arrow-drop-down"></i>
                    </div>
                    
                    <!-- Dropdown Structure -->
                    <ul id='bulkActions' class='dropdown-content'>
                        <li class="action-item">Bulk Actions</li>
                        <li class="divider"></li>                        
                        <li class="action-item">Delete</li>
                        <li class="divider"></li>                        
                        <li class="action-item">Move to Bin</li>
                    </ul>
                </div>
                <div class="col l2 padding-left-zero" id="apply">
                    <span>
                        <!-- <button type="button" id="Bulkapply" class="admin-btn">Apply</button> -->
                     <button class="btn waves-effect waves-light" type="button" id="Bulkapply">Apply</button>
                </span>
                </div>
                <div class="col l2">
                    <!-- <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        All dates
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <li><a href="#">All dates</a></li>
                    </ul> -->
                    <select id="filterdate" class="selctionButton browser-default margin-left-10" style="height:33px">
                        <option value="All dates" selected="selected">All dates</option>
                        <option value="/6/2015">June 2015</option>
                        <option value="/7/2015">July 2015</option>
                        <option value="/8/2015">August 2015</option>
                    </select>
                </div>
<!--                 <div class="col l1">
                    <span><button type="button" class="admin-btn" id="Datefilter">Filter</button></span>
                </div> -->
            </div>

            <div class="cursor-pointer row">
                <div class="col l12">
                <span class="right" style="margin-bottom: -19px; margin-right:-9px"><a id="sliderAll">All</a> | 
                      <a id="sliderPublish">Published</a> |
                      <a id="sliderDraft">Draft</a> |
                      <a id="sliderBin">Bin</a>
                </span>
                </div>
            </div>

            <div class="row post-margin padding-top-bottom-10">
                <div class="bs-example" data-example-id="striped-table">
                    <div class="row bg-white padding-top-bottom-10 " style="border: 1px solid #ddd">
                        <div class="col l1">
                            <input type="checkbox" id="checkboxSliderAll" class="filled-in"/>
                            <label for="checkboxSliderAll"></label>
                        </div>
                        <div class="col l5 padding-left-zero margin-left-minus-30">Title</div>
                        <div class="col l3">Status</div>
                        <div class="col l3">Date</div>
                    </div>

                    {{#each sliderList}}
                    {{#if currentUser}}
                    <div class="row  padding-top-bottom-10 cursor-pointer" style="border: 1px solid #ddd; margin-top:-21px">
                        <div class="col l1">
                            <!-- <input type="checkbox" class="checkbox"> -->
                        <input type="checkbox" id="slider{{_id}}" class="filled-in checkbox" value="{{_id}}"/>
                        <label for="slider{{_id}}"></label>
                        </div>
                        <div class="col l7 padding-left-zero margin-left-minus-30" id="slider">
                            {{#if deleted}}
                            <strike>{{title}}</strike>
                            {{else}}
                            {{title}}
                            {{/if}}
                        </div>
                        <div class="col l2">{{status}}</div>
                        <div class="col l2">{{createdAt}}</div>
                    </div>
                    {{/if}}
                    {{/each}}
                </div>
            </div>

            <!-- <div class="row post-margin">
                <span class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Bulk Actions
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu5">
                        <li><a href="#">Bulk Actions</a></li>
                        <li><a href="#">Edit</a></li>
                        <li><a href="#">Move to Bin</a></li>
                    </ul>
                </span>
                <span><button type="button" class="btn btn-default">Apply</button></span>
            </div> -->
        </div>
    </div>
</template>